<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;" id="bookmarksContainer">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark1" aria-current="page" href="<%= index_path(@index)%>">Strona g贸wna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark2" href="<%= login_path(@login) %>">Logowanie</a>
        </li>
        <% if current_user %>
          <% if current_user.doctor? %>
            <li class="nav-item">
              <a class="nav-link active bookmark" id="bookmark3" href="<%= doctor_path %>">Funkcjonalnoci</a>
            </li>
          <% end %>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            O przychodni 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item bookmark" id="bookmark4" href="<%= doctors_path(@doctors) %>">Lekarze</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item bookmark" id="bookmark5" href="<%= price_path(@price) %>">Cennik</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item bookmark" id="bookmark6" href="<%= lab_path(@lab) %>">Spis wykonywanych bada</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark7" aria-disabled="true" href="<%= help_path(@help) %>">Pomoc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark8" href="<%= contact_path(@lcontact) %>">Kontakt</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" id="searchInput" type="search" placeholder="Wyszukaj na stronie..." >
        <button class="btn btn-primary" id="searchButton" type="button">Szukaj</button>
      </form>
    </div>
  </div>
</nav>

<div id="cont" style="display:flex; margin-top:150px">
<div style="width:50%; height:5px; float:left">
<div class="card mb-3" style="max-width: 540px; margin-left: 120px; height: 200px;">
  <div class="row g-0">
    <div class="col-md-4">
    <%= image_tag "helpdesk.jpg", class:"d-block", height: 200%>
    </div>
    <div class="col-md-8" style="padding-left:20px">
      <div class="card-body">
        <h5 class="card-title">Witaj w zakadce <span class="badge text-bg-primary" style="font-size:16px">Pomoc</span></h5>
        <p class="card-text">Znajdziesz tutaj najczciej zadawane pytania na temat naszej przychodni oraz sekcj gdzie sam mo偶esz zada nam wybrane pytanie.</p>
        <p class="card-text"><small class="text-body-secondary">漏 DoctorSeeker</small></p>
      </div>
    </div>
  </div>
</div>
</div>

<div style="width:50%; height:5px; float:right">
<div class="card border-primary mb-3" style="max-width: 540px; margin-left: 90px; height:370px;">
  <div class="card-body">
  <h5 class="card-title" style="margin-top:30px"><b>Napisz do nas</b></h5>
    <p class="card-text">Jestemy zawsze gotowi, aby pom贸c Ci z wszelkimi pytaniami lub potrzebami jakie mo偶esz mie. Nasz zesp贸 wsparcia jest dostpny 24/7, aby zapewni jak najlepsz obsug. Mo偶esz skontaktowa si z nami bezporednio na nasz adres e-mail.</p>
    <div class="mb-3 mt-5">
  <center>
  <p class="fs-4"><span class="badge text-bg-warning" style="margin:5px">kontakt@doctorseeker.pl</span>
 </center>
</div>
<center>
<%= link_to "Kliknij tutaj, aby przej do poczty ", "https://mail.google.com", class: "btn btn-dark fw-lighter-bold" %>
</center>
  </div>
</div>
</div>
</div>

<center><h2 class="fw-lighter" style="margin-top: 430px; margin-bottom:30px"> <b>FAQ:</b> Najczciej zadawane pytania  </h2></center>
<div class="accordion" id="accordionExample" style="width: 90%; margin-left: 80px; margin-bottom: 100px;">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      Jak mog um贸wi si na wizyt u lekarza za porednictwem DoctorSeeker?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Aby um贸wi si na wizyt, wystarczy przej na nasz stron internetow lub u偶y naszej aplikacji mobilnej. Nastpnie wybierz preferowanego lekarza, termin i rodzaj wizyty, a system DoctorSeeker przeprowadzi Ci przez proces rezerwacji.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Czy DoctorSeeker umo偶liwia dodawanie opinii o lekarzach?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Tak, nasza platforma umo偶liwia pacjentom dodawanie opinii i recenzji na temat lekarzy. Chcemy, aby nasi u偶ytkownicy mieli mo偶liwo dzielenia si swoimi dowiadczeniami, co pomaga innym w wyborze odpowiedniego specjalisty.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    Jakie rodzaje bada mog um贸wi za pomoc DoctorSeeker?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
    DoctorSeeker umo偶liwia umawianie si na r贸偶nego rodzaju badania diagnostyczne, w tym badania krwi, obrazowe (np. MRI, RTG), ultrasonograficzne i wiele innych. Mo偶esz sprawdzi dostpno konkretnych bada w naszym systemie podczas rezerwacji wizyty.
      </div>
    </div>
  </div>
  <div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    Czy mog um贸wi si na wizyt u specjalisty za porednictwem DoctorSeeker?
    </button>
  </h2>
  <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    Tak, DoctorSeeker umo偶liwia rezerwacj wizyt u specjalist贸w r贸偶nych dziedzin medycyny, takich jak kardiologia, dermatologia, neurologia, itp. Wystarczy wybra odpowiedni specjalizacj podczas procesu rezerwacji.
    </div>
  </div>
</div>
<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
  Jakie informacje bd potrzebowa, aby um贸wi si na wizyt za porednictwem DoctorSeeker?
  </button>
</h2>
<div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  Aby zarezerwowa wizyt, bdziesz potrzebowa podstawowych informacji, takich jak imi, nazwisko, adres e-mail, numer telefonu oraz preferowany termin wizyty. Niekt贸re specjalistyczne wizyty mog wymaga dodatkowych informacji, wic upewnij si, 偶e masz je przy sobie.
  </div>
</div>
</div>
<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
  Czy mog anulowa lub zmieni termin wizyty zarezerwowanej za porednictwem DoctorSeeker?
  </button>
</h2>
<div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  Tak, w przypadku koniecznoci zmiany lub anulowania wizyty, mo偶esz to zrobi za porednictwem naszej platformy internetowej lub aplikacji mobilnej. Wystarczy zalogowa si na swoje konto i skorzysta z opcji zmiany lub anulowania wizyty.
  </div>
</div>
</div>
<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
  Czy DoctorSeeker oferuje usugi medyczne tylko w okrelonym regionie?
  </button>
</h2>
<div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  Nasza platforma oferuje usugi medyczne w wielu regionach, jednak dostpno konkretnych usug mo偶e si r贸偶ni w zale偶noci od lokalizacji. Mo偶esz sprawdzi dostpno usug w Twoim regionie, korzystajc z naszej platformy.
  </div>
</div>
</div>
<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
  Czy mog przeglda opinie innych pacjent贸w o lekarzach na DoctorSeeker?
  </button>
</h2>
<div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  Tak, na DoctorSeeker mo偶esz przeglda opinie innych pacjent贸w na temat lekarzy, co pomaga w podjciu wiadomej decyzji dotyczcej wyboru specjalisty. Staramy si zapewni transparentno i uczciwe opinie na naszej platformie.
  </div>
</div>
</div>
<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
  Czy DoctorSeeker wsp贸pracuje z ubezpieczycielami medycznymi?
  </button>
</h2>
<div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  Tak, DoctorSeeker mo偶e wsp贸pracowa z wybranymi ubezpieczycielami medycznymi, co umo偶liwia pacjentom korzystanie z naszych usug w ramach ich polisy ubezpieczeniowej. Prosimy o kontakt z nami, aby uzyska wicej informacji na ten temat.
  </div>
</div>
</div>
<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
  Jakie s korzyci korzystania z DoctorSeeker w por贸wnaniu z tradycyjnymi metodami umawiania wizyt lekarskich?
  </button>
</h2>
<div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  DoctorSeeker oferuje wygod, szybko i dostpno. Dziki naszej platformie mo偶esz atwo znale藕 i zarezerwowa wizyt u lekarza bez koniecznoci dzwonienia lub osobistego odwiedzania przychodni. Ponadto, nasza platforma umo偶liwia przegldanie opinii innych pacjent贸w, co uatwia wyb贸r odpowiedniego specjalisty.
  </div>
</div>
</div>

</div>

</div>


<footer class="footer">
<p><b>Copyright 漏 2024 </b>DoctorSeeker. Wszelkie prawa zastrze偶one.</p>
</footer>


<script>
function redirectToMatchingBookmark(event) {
  event.preventDefault();
  var searchText = document.getElementById('searchInput').value.toLowerCase();
  var bookmarks = document.querySelectorAll('.bookmark');
  var found = false;

  for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
      // Przekieruj do pasujcej zakadki
      window.location.href = bookmark.href;
      found = true;
      break;
    }
  }

  if (!found) {
    alert("Nie znaleziono pasujcej zakadki ");
  }
}

document.getElementById('searchButton').addEventListener('click', function (event) {
  redirectToMatchingBookmark(event);
});

function updateDateTime() {
  var currentDate = new Date();
  var day = currentDate.toLocaleDateString();
  var time = currentDate.toLocaleTimeString();
  var dateTimeString = day + ' ' + time;
  document.getElementById('currentDateTime').innerHTML = dateTimeString;
}

setInterval(updateDateTime, 1000);
window.onload = updateDateTime;
</script>