<nav class="navbar navbar-expand-lg" style="background-color: #66d3fa;" id="bookmarksContainer">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark1" aria-current="page" href="<%= admin_path(@admin) %>">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark2" href="<%= users_list_path(@users_list) %>">Lista użytkowników</a>
        </li>
       <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark3" href="<%= admin_profile_path(@admin_profile) %>">Mój profil</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark4" href="<%= admin_logout_path(@admin_logout) %>">Wyloguj</a>
      </li>
        </ul>
      <form class="d-flex" role="search">
      <input class="form-control me-2" id="searchInput" type="search" placeholder="Wyszukaj na stronie..." >
      <button class="btn btn-primary" id="searchButton" type="button">Szukaj</button>
      </form>
    </div>
  </div>
</nav>



<div style="margin-top:40px">
<center>
<%= image_tag "logout.png", class:"d-block", height: 350, style:"margin:30px" %>

<h3 class="p-3 mb-2 bg-primary text-white"><strong>Czy na pewno chcesz się wylogować?</strong></h3>

<div style="margin-top:30px">
  <%= form_tag(destroy_user_session_path, method: :delete) do %>
    <%= submit_tag "Wyloguj", class: "btn btn-outline-danger", style: "font-size:30px" %>
  <% end %>
</center>
</div>
</div>


  



<footer class="footer">
<p><b>Copyright © 2024 </b>DoctorSeeker. Wszelkie prawa zastrzeżone.</p>
</footer>

<script>
function redirectToMatchingBookmark(event) {
  event.preventDefault();
  var searchText = document.getElementById('searchInput').value.toLowerCase();
  var bookmarks = document.querySelectorAll('.bookmark');
  var found = false;

  for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
      // Przekieruj do pasującej zakładki
      window.location.href = bookmark.href;
      found = true;
      break;
    }
  }

  if (!found) {
    alert("Nie znaleziono pasującej zakładki 😢");
  }
}

document.getElementById('searchButton').addEventListener('click', function (event) {
  redirectToMatchingBookmark(event);
});

function updateDateTime() {
  var currentDate = new Date();
  var day = currentDate.toLocaleDateString();
  var time = currentDate.toLocaleTimeString();
  var dateTimeString = day + ' ' + time;
  document.getElementById('currentDateTime').innerHTML = dateTimeString;
}

setInterval(updateDateTime, 1000);
window.onload = updateDateTime;
</script>