<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= admin_path(@admin) %>">Strona g贸wna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= users_list_path(@users_list) %>">Lista u偶ytkownik贸w</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            O przychodni 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= admin_doctors_path(@admin_doctors) %>">Lekarze</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= admin_price_path(@admin_price) %>">Cennik</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= admin_lab_path(@admin_lab) %>">Spis wykonywanych bada</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= admin_help_path(@admin_help) %>">Pomoc</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= admin_contact_path(@admin_contact) %>">Kontakt</a></li>
          </ul>
        </li>
       <li class="nav-item">
          <a class="nav-link active" href="<%= admin_profile_path(@admin_profile) %>">M贸j profil</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="<%= admin_logout_path(@admin_logout) %>">Wyloguj</a>
      </li>
        </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>

<div id="cont" style="margin-top: 80px;">

<center><h1><span class="badge text-bg-primary" style="margin-top: 30px; margin-bottom:0">Witaj w Panelu Administratora</span></h1>
<hr style="width:80%; margin-bottom:0" />
</center>

<div class="left" style="width:50%; float:left; height:50px; margin-bottom:30px">

<h2 class="fw-lighter" style="margin-bottom:20px"><span style="font-weight:500"><center>Witaj <%= current_user.first_name %>!</center></span></h2>

<h5 class="fw-lighter" style="text-align:justify; margin-bottom:30px">
<p>Jeste zalogowany jako administrator, mo偶esz zarzdz wszystkimi u偶ytkownikami. Pamitaj aby rozwa偶nie dononywa wszystkich zmian, w razie wtpliwoci skontaktuj si z innym administratorem. </p>

W zakadce Lista u偶ytkownik贸w mo偶esz doda pacjent贸w, lekarzy lub pracownik贸w laboratorium. Mo偶esz r贸wnie偶 edytowa dane zarejestrowanych ju偶 os贸b.

</h5>
<div class="card text-bg-primary mb-3" style="max-width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">Dzikujemy za pomoc!</h5>
    <p class="card-text"><p><i>Zesp贸 Przychodni Medycznej DoctorSeeker </i></p></p>
  </div>
</div>



</div>

<div class="right" style="width:40%; float:right; height:20px; margin-bottom:20px">

<%= image_tag "admin_page.jpg", height: 450, style:" border-radius:80px" %>

</div>
</div>

<center><hr style="width:80%; margin-top:550px; padding:50px" /></center>

<footer class="footer">
<p><b>Copyright 漏 2024 </b>DoctorSeeker. Wszelkie prawa zastrze偶one.</p>
</footer>