<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;" id="bookmarksContainer">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark1" aria-current="page" href="<%= admin_path(@admin) %>">Strona g贸wna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark2" href="<%= users_list_path(@users_list) %>">Lista u偶ytkownik贸w</a>
        </li>
       <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark3" href="<%= admin_profile_path(@admin_profile) %>">M贸j profil</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark4" href="<%= admin_logout_path(@admin_logout) %>">Wyloguj</a>
      </li>
        </ul>
      <form class="d-flex" role="search">
      <input class="form-control me-2" id="searchInput" type="search" placeholder="Wyszukaj na stronie..." >
      <button class="btn btn-primary" id="searchButton" type="button">Szukaj</button>
      </form>
    </div>
  </div>
</nav>


<div id="cont" style="margin-top: 100px;">
<center><h1><span class="badge text-bg-primary" style="margin-top: 10px;">Karta Staego Klienta DoctorSeeker</span></h1>
<hr style="width:80%" />
</center>

<div style="width:40%; height:100px; float: left; padding:30px; margin-top:0;">
<center>
<%= image_tag "cart.jpg", class:"d-block", height:400, style:"margin-left:30px"%>
<h4 class="fw-lighter" style="border: 3px solid #0d6efd; padding:8px; width:610px; text-shadow: 0 0 2px #333; background-color:white; margin-top:20px"><b>Cena Miesicznej Opaty: TYLKO 50 z/miesic</b></h4>
</center>
</div>


<div style="width:55%; height:100px; float:right; padding:30px;">
<center>
<h4 class="fw-lighter" style="padding:8px; width:610px;">Zosta Naszym Staym Klientem i Ciesz Si Korzyciami!</h4>
<h4 class="fw-lighter"><span style="color:#0d6efd; font-weight:bold;text-shadow: 0 0 1px #333">Karta Staego Klienta DoctorSeeker</span> - Tw贸j Klucz do Zdrowia i Wygody</h4>

<div class="list-group" style="margin-top:30px">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Zalety, kt贸re oferujemy naszym staym klientom:</h5>
    </div>
    <p class="mb-1" style="text-align:left;"></p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Priorytetowy Dostp do Usug Medycznych</h5>
  </div>
  <p class="mb-1" style="text-align:left;">Jako posiadacz Karty Staego Klienta DoctorSeeker, bdziesz mie pierwszestwo w umawianiu wizyt i skr贸conych czasach oczekiwania.</p>
    </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Zni偶ki na Usugi Medyczne</h5>
    </div>
    <p class="mb-1" style="text-align:left;">Ciesz si korzystnymi cenami na wizyty lekarskie, badania diagnostyczne, oraz inne usugi medyczne dostpne w naszej przychodni.</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Program Profilaktyki i Promocji Zdrowia</h5>
    </div>
    <p class="mb-1" style="text-align:left;">Otrzymuj regularne powiadomienia o kampaniach zdrowotnych, szczepieniach, oraz innych programach promujcych zdrowy styl 偶ycia.</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Opieka Koordynowana przez Lekarza Rodzinnego</h5>
    </div>
    <p class="mb-1" style="text-align:left;">Nasz zesp贸 lekarzy zapewni Ci spersonalizowan opiek medyczn, koordynujc Twoje leczenie i dbajc o Twoje zdrowie na ka偶dym etapie.</p>
  </a>
</div>


</center>
</div>

<div style="width:100%;height:300px; margin: 620px 0px 1900px 0px">
<h5 class="fw-lighter" style="text-align:justify; margin-left:20px; margin-right:20px">Nie zwlekaj! Zainwestuj w swoje zdrowie i wygod ju偶 dzi poprzez wykupienie Karty Staego Klienta DoctorSeeker. Skontaktuj si z nami, aby dowiedzie si wicej lub um贸wi si na wizyt rejestracyjn. Z nami, troska o Twoje zdrowie staje si atwiejsza i bardziej dostpna ni偶 kiedykolwiek wczeniej!</h5>
<center><p class="fw-lighter" style="color:#120a8f"><b><i>Zdrowie to najcenniejszy skarb - razem dbajmy o niego!</p></b></i></center>
<center><hr style="width:50%" /></center>

<center><h1><span class="badge text-bg-primary" style="margin-top: 10px;">Cennik naszych usug lekarskich</span></h1>

<table class="table" style="margin-top:50px; width:1000px">
  <thead>
    <tr>
      <th scope="col" style="width:20%; background-color:#c6c6c6">Nazwa Poradni</th>
      <th scope="col" style="width:20%; background-color:#c6c6c6">Imi i nazwisko lekarza</th>
      <th scope="col" style="width:150px; background-color:#c6c6c6">Usugi i cena</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="3"><span class="badge text-bg-primary">Poradnia Og贸lna</span></td>
      <td>Dr. Aleksandra Nowak</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item">Konsultacja lekarska: 120 z</li>
      <li class="list-group-item">Badanie kontrolne: 100 z</li>
      <li class="list-group-item">Zaszywanie ran: 150 z</li>
      <li class="list-group-item">Iniekcja przeciwb贸lowa: 80 z</li>
      </ul>
      </td>
    </tr>
    <tr>
      <td>Dr. Tomasz Kowalczyk</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item">Konsultacja lekarska: 130 z</li>
      <li class="list-group-item">Badanie krwi: 70 z</li>
      <li class="list-group-item">Iniekcja przeciwzapalna: 100 z</li>
      <li class="list-group-item">Konsultacja zdalna (telemedycyna): 90 z</li>
      </ul>
      </td>
    </tr>
    <tr>
      <td>Dr. Marta Lewandowska</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item">Konsultacja lekarska: 110 z</li>
      <li class="list-group-item">Badanie og贸lne moczu: 50 z</li>
      <li class="list-group-item">Zabieg usuwania szw贸w: 80 z</li>
      <li class="list-group-item">Ocena stanu zdrowia przed podr贸偶: 150 z</li>
      </ul>
      </td>
    </tr>
    <tr>
    <td><span class="badge rounded-pill text-bg-warning">Poradnia Dziecica</span></td>
    <td>Dr. Katarzyna Nowak</td>
    <td>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Konsultacja lekarska: 100 z</li>
    <li class="list-group-item">Badanie kontrolne: 80 z</li>
    <li class="list-group-item">Szczepienia: cena zale偶na od typu szczepionki</li>
    <li class="list-group-item">Wizyta domowa: 150 z (w obrbie miasta)</li>
    </ul>
    </td>
  </tr>
   </tr>
    <tr>
    <td><span class="badge rounded-pill text-bg-success">Poradnia Rehabilitacyjna</span></td>
    <td>Dr. Marcin Wojciechowski</td>
    <td>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Konsultacja rehabilitacyjna: 120 z</li>
    <li class="list-group-item">Sesja fizjoterapii: 60 z</li>
    <li class="list-group-item">Terapia manualna: 80 z</li>
    <li class="list-group-item">Badanie USG narzdu ruchu: 180 z</li>
    </ul>
    </td>
  </tr>
  <tr>
  <td><span class="badge rounded-pill text-bg-danger">Poradnia Medycyny Pracy</span></td>
  <td>Dr. Joanna Kowalska</td>
  <td>
  <ul class="list-group list-group-flush">
  <li class="list-group-item">Badania wstpne dla pracownik贸w: 200 z</li>
  <li class="list-group-item">Badania okresowe: 150 z</li>
  <li class="list-group-item">Badania kontrolne po wypadku: 250 z</li>
  <li class="list-group-item">Badania przesiewowe: 100 z</li>
  </ul>
  </td>
</tr>
<tr>
<td><span class="badge rounded-pill text-bg-info">Poradnia Ginekologiczna</span></td>
<td>Dr. Magdalena Szymaska</td>
<td>
<ul class="list-group list-group-flush">
<li class="list-group-item">Konsultacja ginekologiczna: 150 z</li>
<li class="list-group-item">Badanie cytologiczne: 80 z</li>
<li class="list-group-item">Badanie USG ginekologiczne: 200 z</li>
<li class="list-group-item">Kolposkopia: 250 z</li>
</ul>
</td>
</tr>
<tr>
<td><span class="badge rounded-pill" style="background-color:#fd7e14">Poradnia Laryngologiczna</span></td>
<td>Dr. Zbigniew Adamczyk</td>
<td>
<ul class="list-group list-group-flush">
<li class="list-group-item">Konsultacja laryngologiczna: 120 z</li>
<li class="list-group-item">Badanie audiometryczne: 100 z</li>
<li class="list-group-item">Endoskopia nosa i garda: 180 z</li>
<li class="list-group-item">Usuwanie wosku z uszu: 50 z</li>
</ul>
</td>
</tr>
<tr>
<td><span class="badge rounded-pill" style="background-color:purple">Poradnia Stomatologiczna</span></td>
<td>Dr. Tomasz Kaczmarek</td>
<td>
<ul class="list-group list-group-flush">
<li class="list-group-item">Badanie stomatologiczne: 80 z</li>
<li class="list-group-item">Plomba: 150 z - 300 z</li>
<li class="list-group-item">Wybielanie zb贸w: 600 z - 1000 z</li>
<li class="list-group-item">Ekstrakcja zba: 200 z - 400 z</li>
</ul>
</td>
</tr>
<tr>
<td><span class="badge rounded-pill" style="background-color:#d63384">Poradnia Kardiologiczna</span></td>
<td>Dr. Pawe Nowicki</td>
<td>
<ul class="list-group list-group-flush">
<li class="list-group-item">Konsultacja kardiologiczna: 150 z</li>
<li class="list-group-item">EKG: 80 z</li>
<li class="list-group-item">Echo serca: 250 z</li>
<li class="list-group-item">Test wysikowy: 300 z</li>
</ul>
</td>
</tr>
  </tbody>
</table>

</div>



</div>

<footer class="footer">
<p><b>Copyright 漏 2024 </b>DoctorSeeker. Wszelkie prawa zastrze偶one.</p>
</footer>

<script>
function redirectToMatchingBookmark(event) {
  event.preventDefault();
  var searchText = document.getElementById('searchInput').value.toLowerCase();
  var bookmarks = document.querySelectorAll('.bookmark');
  var found = false;

  for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
      // Przekieruj do pasujcej zakadki
      window.location.href = bookmark.href;
      found = true;
      break;
    }
  }

  if (!found) {
    alert("Nie znaleziono pasujcej zakadki ");
  }
}

document.getElementById('searchButton').addEventListener('click', function (event) {
  redirectToMatchingBookmark(event);
});

function updateDateTime() {
  var currentDate = new Date();
  var day = currentDate.toLocaleDateString();
  var time = currentDate.toLocaleTimeString();
  var dateTimeString = day + ' ' + time;
  document.getElementById('currentDateTime').innerHTML = dateTimeString;
}

setInterval(updateDateTime, 1000);
window.onload = updateDateTime;
</script>