<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;" id="bookmarksContainer">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark1" aria-current="page" href="<%= admin_path(@admin) %>">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark2" href="<%= users_list_path(@users_list) %>">Lista użytkowników</a>
        </li>
       <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark3" href="<%= admin_profile_path(@admin_profile) %>">Mój profil</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark4" href="<%= admin_logout_path(@admin_logout) %>">Wyloguj</a>
      </li>
        </ul>
      <form class="d-flex" role="search">
      <input class="form-control me-2" id="searchInput" type="search" placeholder="Wyszukaj na stronie..." >
      <button class="btn btn-primary" id="searchButton" type="button">Szukaj</button>
      </form>
    </div>
  </div>
</nav>

<center><button type="button" class="btn btn-primary btn-lg" style="margin-top: 200px; margin-bottom: 30px;"><%= link_to "Zaloguj się", new_user_session_path, style:"color:white; text-decoration: none;"%>
</button>
<h4>Jeśli nie masz jeszcze konta:</h4>
<p><button type="button" class="btn btn-primary btn-lg" style="margin-top: 30px;"><%= link_to "Zarejestruj się", new_user_registration_path, style:"color:white; text-decoration: none;" %></button></p></center>

<!--<% if current_user %>
    <p>Hello <%= current_user.email %></p>
    <p>You are a [<%= current_user.role %>]</p>

    <% if current_user.patient? %>
      <p>Welcome, patient!</p>
    <% elsif current_user.admin? %>
      <p>Welcome, admin!</p>
    <% elsif current_user.doctor? %>
      <p>Welcome, doctor!</p>
    <% elsif current_user.labworker? %>
      <p>Welcome, lab worker!</p>
    <% end %>

    <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>

    <p>You are not signed in</p>

<% end %>-->


<footer class="footer">
<p><b>Copyright © 2024 </b>DoctorSeeker. Wszelkie prawa zastrzeżone.</p>
</footer>

<script>
function redirectToMatchingBookmark(event) {
  event.preventDefault();
  var searchText = document.getElementById('searchInput').value.toLowerCase();
  var bookmarks = document.querySelectorAll('.bookmark');
  var found = false;

  for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
      // Przekieruj do pasującej zakładki
      window.location.href = bookmark.href;
      found = true;
      break;
    }
  }

  if (!found) {
    alert("Nie znaleziono pasującej zakładki 😢");
  }
}

document.getElementById('searchButton').addEventListener('click', function (event) {
  redirectToMatchingBookmark(event);
});

function updateDateTime() {
  var currentDate = new Date();
  var day = currentDate.toLocaleDateString();
  var time = currentDate.toLocaleTimeString();
  var dateTimeString = day + ' ' + time;
  document.getElementById('currentDateTime').innerHTML = dateTimeString;
}

setInterval(updateDateTime, 1000);
window.onload = updateDateTime;
</script>