<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;" id="bookmarksContainer">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark1" aria-current="page" href="<%= admin_path(@admin) %>">Strona g贸wna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark2" href="<%= users_list_path(@users_list) %>">Lista u偶ytkownik贸w</a>
        </li>
       <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark3" href="<%= admin_profile_path(@admin_profile) %>">M贸j profil</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark4" href="<%= admin_logout_path(@admin_logout) %>">Wyloguj</a>
      </li>
        </ul>
      <form class="d-flex" role="search">
      <input class="form-control me-2" id="searchInput" type="search" placeholder="Wyszukaj na stronie..." >
      <button class="btn btn-primary" id="searchButton" type="button">Szukaj</button>
      </form>
    </div>
  </div>
</nav>


<div id="cont" style="margin-top: 80px;  margin-left:40px;  margin-right:40px">
<center><h1><span class="badge text-bg-primary" style="margin-top: 30px; margin-bottom:0">Witaj w Panelu Lista u偶ytkownik贸w</span></h1></center>

<div style="width:40%; height:50px; float: left; padding:30px; margin-top:10px; margin-left:70px; margin-bottom:150px">
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Znajdziesz tutaj szczeg贸owe informacje dotyczce wszytskich u偶ytkownik贸w. Dbamy o to, aby mia atwy dostp do edycji oraz w prosty spos贸b doda nowego u偶ytkownika.
</h5>

<center><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Instrukcja
</button></center>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Instrukcja</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <ul>
            <li>Aby doda nowego u偶ytkownik musisz wypeni formularz, kt贸ry znajduje si pod przyciskiem <strong>"Dodaj nowego u偶ytkownika"</strong>. Wpisz adres <strong>e-mail</strong>, <strong>Imi</strong>, <strong>Nazwisko</strong> oraz <strong>PESEL</strong> nowego u偶ytkownika. Wpisz oraz powt贸rzy haso, na koniec zaznacz jak rol bdzie peni w naszej przychodni. Potwierd藕 zmiany przyciskiem <strong>"Dodaj u偶ytkownik"</strong><br><br>

            <li>Aby zedytowa dane istniejcego ju偶 u偶ytkownika wybierz pole <strong>"Edytuj"</strong> w jego wierszu. Dokonaj wybranych zmian. Pamitaj, zawsze podczas edycji danych u偶ytkownika musisz wpisac oraz powt贸rzy jego haso! Na kocu potwierd藕 zmiany przyciskiem <strong>"Zapisz zmiany"</strong>.
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
</div>

<div style="width:40%; height:50px; float: right; padding:30px; margin-top:10px; margin-right:70px; margin-bottom:150px">
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Poni偶ej mo偶esz wygodnie przeglda dane dotyczce pacjent贸w, lekarzy, pracownik贸w labolatorium oraz innych administartor贸w.
Jeli masz jakiekolwiek pytania lub wtpliwoci dotyczce edycji, nie wahaj si skontaktowa z innym administratorem. 
Pamitaj aby z rozwag dokonywa wszytskich zmain.</h5>
<h5 class="fw-lighter" style="text-align:center; margin-bottom:10px">Dzikujemy, 偶e jeste czci naszej przychodni lekarskiej!</h5>
</div>

<center><hr style="width:80%; margin-top:30px; padding:0px" /></center>

<div style="width:98%; margin-bottom:100px">
  <h2 class="mb-4" style="text-align:center; margin-top:20px">Lista wszystkich u偶ytkownik贸w 猬锔</h2>
  <table class="table table-hover">
  <center><%= link_to 'Dodaj nowego u偶ytkownika', admin_new_user_path, class: 'btn btn-primary' %> </center>

  <center><hr style="width:80%; margin-top:20px; padding:0px" /></center>

    <thead>
      <tr>
        <th><center>E-mail</center></th>
        <th><center><strong>Rola</strong></center></th>
        <th><center>Edycja konta</center></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><center><%= user.email %></center></td>
          <td><center><strong><%= user.role %></strong></center></td>
          <td><center>
            <div class="btn-group mr-2" role="group" aria-label="Edytuj i usu">
                <%= link_to 'Edytuj', edit_user_path(user), class: 'btn btn-primary' %>
                    </div>
                        <% unless current_user.admin? && current_user == user %>
                    <div class="btn-group" role="group" aria-label="Edytuj i usu">
                <%= button_to 'Usu', destroy_user_path(user), method: :delete, onclick: 'return confirmDelete()', class: 'btn btn-danger' %>
             </div>
            <% end %></center>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<script>
 
  function confirmDelete() {
    return confirm("Czy na pewno chcesz usun tego u偶ytkownika?");
  }
</script>

<footer class="footer">
<p><b>Copyright 漏 2024 </b>DoctorSeeker. Wszelkie prawa zastrze偶one.</p>
</footer>

<script>
function redirectToMatchingBookmark(event) {
  event.preventDefault();
  var searchText = document.getElementById('searchInput').value.toLowerCase();
  var bookmarks = document.querySelectorAll('.bookmark');
  var found = false;

  for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
      // Przekieruj do pasujcej zakadki
      window.location.href = bookmark.href;
      found = true;
      break;
    }
  }

  if (!found) {
    alert("Nie znaleziono pasujcej zakadki ");
  }
}

document.getElementById('searchButton').addEventListener('click', function (event) {
  redirectToMatchingBookmark(event);
});

function updateDateTime() {
  var currentDate = new Date();
  var day = currentDate.toLocaleDateString();
  var time = currentDate.toLocaleTimeString();
  var dateTimeString = day + ' ' + time;
  document.getElementById('currentDateTime').innerHTML = dateTimeString;
}

setInterval(updateDateTime, 1000);
window.onload = updateDateTime;
</script>