<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= admin_path(@admin) %>">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= users_list_path(@users_list) %>">Lista użytkowników</a>
        </li>
       <li class="nav-item">
          <a class="nav-link active" href="<%= admin_profile_path(@admin_profile) %>">Mój profil</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="<%= admin_logout_path(@admin_logout) %>">Wyloguj</a>
      </li>
        </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>

<div id="cont" style="margin-top: 80px;">
<center><h1><span class="badge text-bg-primary" style="margin-top: 30px; margin-bottom:0">Witaj w Panelu Lista użytkowników</span></h1></center>

<div style="width:40%; height:50px; float: left; padding:30px; margin-top:10px; margin-left:70px; margin-bottom:150px">
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Znajdziesz tutaj szczegółowe informacje dotyczące wszytskich użytkowników. Dbamy o to, abyś miał łatwy dostęp do edycji oraz w prosty sposób dodać nowego użytkownika.
</h5>

<center><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Instrukcja
</button></center>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Instrukcja</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <ul>
            <li>Aby dodać nowego użytkownik musisz wypełnić formularz, który znajduje się pod przyciskiem <strong>"Dodaj nowego użytkownika"</strong>. Wpisz adres <strong>e-mail</strong>, <strong>Imię</strong>, <strong>Nazwisko</strong> oraz <strong>PESEL</strong> nowego użytkownika. Wpisz oraz powtórzy hasło, na koniec zaznacz jaką rolę będzie pełnić w naszej przychodni. Potwierdź zmiany przyciskiem <strong>"Dodaj użytkownik"</strong><br><br>

            <li>Aby zedytować dane istniejącego już użytkownika wybierz pole <strong>"Edytuj"</strong> w jego wierszu. Dokonaj wybranych zmian. Pamiętaj, zawsze podczas edycji danych użytkownika musisz wpisac oraz powtórzyć jego hasło! Na końcu potwierdź zmiany przyciskiem <strong>"Zapisz zmiany"</strong>.
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
</div>

<div style="width:40%; height:50px; float: right; padding:30px; margin-top:10px; margin-right:70px; margin-bottom:150px">
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Poniżej możesz wygodnie przeglądać dane dotyczące pacjentów, lekarzy, pracowników labolatorium oraz innych administartorów.
Jeśli masz jakiekolwiek pytania lub wątpliwości dotyczące edycji, nie wahaj się skontaktować z innym administratorem. 
Pamiętaj aby z rozwagą dokonywać wszytskich zmain.</h5>
<h5 class="fw-lighter" style="text-align:center; margin-bottom:10px">Dziękujemy, że jesteś częścią naszej przychodni lekarskiej!<p><i><b><span style="color: #000080">~ DoctorSeeker</i></b></span></p></h5>
</div>

<center><hr style="width:80%; margin-top:20px; padding:0px" /></center>

<div style="width:98%; margin-bottom:100px">
  <h2 class="mb-4" style="text-align:center; margin-top:20px">Lista wszystkich użytkowników ⬇️</h2>
  <table class="table table-hover">
  <center><%= link_to 'Dodaj nowego użytkownika', admin_new_user_path, class: 'btn btn-primary' %> </center>

  <center><hr style="width:80%; margin-top:20px; padding:0px" /></center>

    <thead>
      <tr>
        <th><center>E-mail</center></th>
        <th><center><strong>Rola</strong></center></th>
        <th><center>Edycja konta</center></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><center><%= user.email %></center></td>
          <td><center><strong><%= user.role %></strong></center></td>
          <td><center>
            <div class="btn-group mr-2" role="group" aria-label="Edytuj i usuń">
                <%= link_to 'Edytuj', edit_user_path(user), class: 'btn btn-primary' %>
                    </div>
                        <% unless current_user.admin? && current_user == user %>
                    <div class="btn-group" role="group" aria-label="Edytuj i usuń">
                <%= button_to 'Usuń', destroy_user_path(user), method: :delete, onclick: 'return confirmDelete()', class: 'btn btn-danger' %>
             </div>
            <% end %></center>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<script>
 
  function confirmDelete() {
    return confirm("Czy na pewno chcesz usunąć tego użytkownika?");
  }
</script>

<footer class="footer">
<p><b>Copyright © 2024 </b>DoctorSeeker. Wszelkie prawa zastrzeżone.</p>
</footer>
