
<style>
.center-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #5dbcf8, #ffffff); 
}

.center-form {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.center-form h2 {
  color: #007bff;
}

.center-form .field label {
  display: block;
  margin-bottom: 0.5rem;
  color: #007bff;
}

.center-form .field input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #007bff;
  border-radius: 5px;
}

.center-form .actions input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 0.5rem;
}

.center-form .actions input[type="submit"]:hover {
  background-color: #0056b3;
}

</style>

<div class="center-form-container">
  <div class="center-form">
    <h2>Zapomniałeś hasła?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Wyślij mi instrukcję zmiany hasła" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>


