<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<style>
    /* Dodatkowe style */
    .checked {
      color: orange; /* Kolor gwiazdek */
    }
  </style>

</head>


<nav class="navbar navbar-expand-lg" style="background-color: #66d3fa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= patient_path(@patient) %>">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= profile_patient_path(@profile_patient) %>">Mój profil</a>
        </li>
        <li class="nav-item">
          <% unless current_user %>
          <a class="nav-link active" href="<%= login_path(@login) %>">Logowanie</a>
          <%end%>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Moje
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= patient_appointments_path %>">Wizyty</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= patient_lab_results_path %>">Badania</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= patient_prescriptions_path %>">Recepty</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= patient_reviews_path %>">Recenzje</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            O przychodni 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= doctors_patient_path(@doctors_patient) %>">Lekarze</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= price_patient_path(@price_patient) %>">Cennik</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= lab_patient_path(@lab_patient) %>">Spis wykonywanych badań</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-disabled="true" href="<%= help_patient_path(@help_patient) %>">Pomoc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= contact_patient_path(@contact_patient) %>">Kontakt</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="<%= logout_patient_path(@logout_patient) %>">Wyloguj</a>
      </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>


<div id="cont">

<center><h1 style="margin-bottom:20px"><b>Witaj w sekcji<span class="badge text-bg-primary" style="margin-top: 30px; margin-left:10px">Lekarze</span></h1></center></b>
<center><hr class="hr hr-blurry" style="width:80%; margin:0"></center>
<div style="width:50%; height:80px; float: left; padding:30px;">
<h5 class="fw-lighter" style="text-align:justify">Zakładka "Lekarze" zawiera profile naszych specjalistów, wraz z informacjami o ich specjalizacji oraz doświadczeniu. </h5>
<h5 class="fw-lighter" style="text-align:justify">
Wartościowym elementem są również recenzje od pacjentów, które pomagają w wyborze odpowiedniego lekarza.</h5>
</div>

<div style="width:50%; height:80px; float:right; padding:30px">
<h5 class="fw-lighter" style="text-align:justify">Dzięki nim możesz poznać opinie innych osób na temat kompetencji i empatii danego specjalisty.</h5>
<h5 class="fw-lighter" style="text-align:justify">Zachęcamy do zapoznania się z profilami naszych lekarzy i dzielenia się swoimi doświadczeniami.</h5>
<h1>Lista lekarzy</h1>

<% @doctors.each do |doctor| %>
  <div>
    <h2><%= link_to "#{doctor.last_name} #{doctor.first_name}", doctor_id_path(doctor), class: 'btn btn-primary' %></h2>
  </div>
  <hr>
<% end %>
<div class="alert alert-primary" role="alert" style="margin-top:10px">
<p class="fw-lighter"> ℹ️ Aby wystawić opinię o lekarzu prosimy o przejście do sekcji <b>Moje ➡️ Recenzje</b>.</p>
</div>
</div>



<!-- Sekcja recenzje do przycisku Recenzja -->



<footer class="footer">
<p><b>Copyright © 2024 </b>DoctorSeeker. Wszelkie prawa zastrzeżone.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>