<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;" id="bookmarksContainer">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark1" aria-current="page" href="<%= patient_path(@patient) %>">Strona g贸wna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark2" aria-current="page" href="<%= profile_patient_path(@profile_patient) %>">M贸j profil</a>
        </li>
        <li class="nav-item">
          <% unless current_user %>
          <a class="nav-link active bookmark" id="bookmark3" href="<%= login_path(@login) %>">Logowanie</a>
          <%end%>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Moje
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item bookmark" id="bookmark4" href="<%= patient_appointments_path %>">Wizyty</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item bookmark" id="bookmark5" href="<%= patient_lab_results_path %>">Badania</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item bookmark" id="bookmark6" href="<%= patient_prescriptions_path %>">Recepty</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item bookmark" id="bookmark7" href="<%= patient_reviews_path %>">Recenzje</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            O przychodni 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item bookmark" id="bookmark8" href="<%= doctors_patient_path(@doctors_patient) %>">Lekarze</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item bookmark" id="bookmark9" href="<%= price_patient_path(@price_patient) %>">Cennik</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item bookmark" id="bookmark10" href="<%= lab_patient_path(@lab_patient) %>">Spis wykonywanych bada</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark11" aria-disabled="true" href="<%= help_patient_path(@help_patient) %>">Pomoc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark12" href="<%= contact_patient_path(@contact_patient) %>">Kontakt</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark13" href="<%= logout_patient_path(@logout_patient) %>">Wyloguj</a>
      </li>
      </ul>
      <form class="d-flex" role="search">
      <input class="form-control me-2" id="searchInput" type="search" placeholder="Wyszukaj na stronie..." >
      <button class="btn btn-primary" id="searchButton" type="button">Szukaj</button>
      </form>
    </div>
  </div>
</nav>


<div id="cont" style="margin-top:100px">
<center><h1><span class="badge text-bg-primary" style="margin-top: 30px; margin-bottom:0">Moje Badania</span></h1></center>

<div style="width:40%; height:50px; float: left; padding:30px; margin-top:10px; margin-left:70px; margin-bottom:150px">
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Znajdziesz tutaj szczeg贸owe informacje dotyczce Twoich bada medycznych. Dbamy o to, aby mia atwy dostp do swoich wynik贸w, aby m贸g ledzi swoje zdrowie i wsp贸lnie z nami podejmowa najlepsze decyzje dotyczce Twojej opieki zdrowotnej.
</h5>
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Pamitaj, 偶e regularne badania s kluczowe dla utrzymania zdrowia. Dziki naszej platformie masz mo偶liwo ledzenia swojej historii zdrowia i podejmowania wiadomych decyzji dotyczcych Twojego dobrostanu.
</h5>
</div>
<div style="width:40%; height:50px; float: right; padding:30px; margin-top:10px; margin-right:70px; margin-bottom:150px">
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Poni偶ej mo偶esz wygodnie przeglda swoje wyniki badania, por贸wnywa je z poprzednimi i zastanawia si nad ewentualnymi zmianami. 
Jeli masz jakiekolwiek pytania lub wtpliwoci dotyczce swoich wynik贸w, nie wahaj si skontaktowa z nami. 
Nasz zesp贸 medyczny jest tutaj, aby Ci pom贸c i udzieli wszelkich niezbdnych informacji.</h5>
<h5 class="fw-lighter" style="text-align:center; margin-bottom:10px">Dzikujemy, 偶e jeste czci naszej przychodni lekarskiej!<p><i><b><span style="color: #000080">~ DoctorSeeker</i></b></span></p></h5>
</div>

<center><%= image_tag "lab.png", class:"d-block", height: 280 %>
<hr style="width:80%; margin-bottom:0" />
<h2 class="mb-4" style="text-align:center; margin-top:20px">Moje badania laboratoryjne 猬锔</h2>
</center>

<div style="width:98%; margin-bottom:100px">

  <% if @lab_results.any? %>
    <table class="table table-bordered table-striped" style="margin:20px; box-shadow: 0 4px 6px #333; ">
    <thead class="thead-dark">
      <tr>
        <th>Data wystawienia wynik贸w</th>
        <th>Data wykonania badania</th>
        <th>Wynik bada</th>
        <th>Komentarz</th>
      </tr>
    </thead>
    <tbody>
  <% @lab_results.each do |lab_result| %> 
    <tr>
      <td><%= lab_result.created_at.strftime("%d.%m.%Y") %></td>
      <td><%=lab_result.utility_date%></td>
      <% if lab_result.file.attached? %>
      <td><center><%= link_to "Wynik bada", rails_blob_url(lab_result.file), class:"badge rounded-pill text-bg-success", style:"text-decoration:none" %>
      </center>
      <% else %>
      Brak pliku do pobrania</td>
      <% end %>
      <td><center>
      <% if lab_result.file.attached? %>
            <% comment = @comments.find_by(file_id: lab_result.id) %>
            <% if comment %>
              <span class="badge rounded-pill text-bg-success"><%= comment.comment %></span>
            <% else %>
              <span class="badge rounded-pill text-bg-danger">Brak komentarza</span>
            <% end %>
          <% end %>
          </center></td>
    </tr>
  <% end %>
  <% else %>
  <center><span class="badge text-bg-danger" style="font-size:20px; margin-left:50px;">Nie posiadasz jeszcze 偶adnych wynik贸w bada laboratoryjnych 癸</span></center>
  <% end %>
    </tbody>
  </table>
  
</div>

<footer class="footer">
<p><b>Copyright 漏 2024 </b>DoctorSeeker. Wszelkie prawa zastrze偶one.</p>
</footer>

<script>
function redirectToMatchingBookmark(event) {
  event.preventDefault();
  var searchText = document.getElementById('searchInput').value.toLowerCase();
  var bookmarks = document.querySelectorAll('.bookmark');
  var found = false;

  for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
      // Przekieruj do pasujcej zakadki
      window.location.href = bookmark.href;
      found = true;
      break;
    }
  }

  if (!found) {
    alert("Nie znaleziono pasujcej zakadki ");
  }
}

document.getElementById('searchButton').addEventListener('click', function (event) {
  redirectToMatchingBookmark(event);
});

function updateDateTime() {
  var currentDate = new Date();
  var day = currentDate.toLocaleDateString();
  var time = currentDate.toLocaleTimeString();
  var dateTimeString = day + ' ' + time;
  document.getElementById('currentDateTime').innerHTML = dateTimeString;
}

setInterval(updateDateTime, 1000);
window.onload = updateDateTime;
</script>