<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= patient_path(@patient) %>">Strona g贸wna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= profile_patient_path(@profile_patient) %>">M贸j profil</a>
        </li>
        <li class="nav-item">
          <% unless current_user %>
          <a class="nav-link active" href="<%= login_path(@login) %>">Logowanie</a>
          <%end%>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Moje
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= patient_appointments_path %>">Wizyty</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= patient_lab_results_path %>">Badania</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= patient_prescriptions_path %>">Recepty</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= patient_reviews_path %>">Recenzje</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            O przychodni 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= doctors_patient_path(@doctors_patient) %>">Lekarze</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= price_patient_path(@price_patient) %>">Cennik</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= lab_patient_path(@lab_patient) %>">Spis wykonywanych bada</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-disabled="true" href="<%= help_patient_path(@help_patient) %>">Pomoc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= contact_patient_path(@contact_patient) %>">Kontakt</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="<%= logout_patient_path(@logout_patient) %>">Wyloguj</a>
      </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>


<div id="cont" style="margin-top:100px">
<center><h1><span class="badge text-bg-primary" style="margin-top: 10px;">Laboratorium</span></h1>
<hr style="width:80%" />
</center>

<div style="width:40%; height:100px; float: left; padding:30px; margin-top:0;">
<h5 class="fw-lighter" style="text-align:justify; margin-left:30px; margin-right:20px">Zapraszamy do skorzystania z usug naszego laboratorium, kt贸re oferuje szeroki zakres bada diagnostycznych, pomagajcych w identyfikacji i monitorowaniu r贸偶norodnych schorze. Nasz wykwalifikowany personel oraz nowoczesne wyposa偶enie gwarantuj dokadne i rzetelne wyniki.</h5>
<h5 class="fw-lighter" style="text-align:justify; margin-left:30px; margin-right:20px;">Zapraszamy do kontaktu z naszym laboratorium w celu um贸wienia si na badania oraz uzyskania bardziej szczeg贸owych informacji na temat dostpnych bada i ich cen. Nasz personel su偶y pomoc i fachowym doradztwem.</h5>
<h5 class="fw-lighter" style="text-align:justify; margin-left:30px; margin-right:20px;"><strong>Badania dostpne w naszym laboratorium ★</strong></h5>

<%= image_tag "lab.png", class:"d-block", height:550, style:"margin-left:10px"%>

</div>

<div style="width:55%; height:100px; float:right; padding:30px;">

<table class="table" style="margin-top:0px; width:700px">
  <thead>
    <tr>
      <th scope="col" style="width:30%; background-color:#c6c6c6">Nazwa Badania</th>
      <th scope="col" style="width:60%; background-color:#c6c6c6">Opis i cena</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pena morfologia krwi</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-align:justify">Badanie obejmuje liczb krwinek czerwonych, biaych oraz pytek krwi, kt贸re s istotnym wska藕nikiem zdrowia organizmu.</li>
      <li class="list-group-item"><span class="badge text-bg-primary">Cena: 60 z</span></li>
      </ul>
      </td>
    </tr>
    <tr>
    <td>Badanie lipidowe</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-align:justify">Pozwala na ocen poziomu cholesterolu cakowitego, HDL (lipoproteiny o du偶ej gstoci), LDL (lipoproteiny o maej gstoci) oraz tr贸jgliceryd贸w, co jest istotne dla oceny ryzyka chor贸b serca i ukadu kr偶enia.</li>
      <li class="list-group-item"><span class="badge text-bg-primary">Cena: 80 z</span></li>
      </ul>
      </td>
    </tr>
    <tr>
    <td>Badanie poziomu glukozy we krwi (cukrzyca)</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-align:justify">Pomaga w diagnozowaniu cukrzycy oraz monitorowaniu kontroli poziomu cukru we krwi.</li>
      <li class="list-group-item"><span class="badge text-bg-primary">Cena: 50 z</span></li>
      </ul>
      </td>
    </tr>
    <tr>
    <td>Badanie moczu og贸lnego</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-align:justify">Badanie ocenia fizykochemiczne waciwoci moczu oraz obecno ewentualnych nieprawidowoci, co mo偶e by pomocne w diagnozowaniu chor贸b nerek, ukadu moczowego oraz cukrzycy.</li>
      <li class="list-group-item"><span class="badge text-bg-primary">Cena: 40 z</span></li>
      </ul>
      </td>
    </tr>
    <tr>
    <td>Badanie moczu na obecno bakterii (posiew moczu)</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-align:justify">Badanie wykonywane w celu identyfikacji bakterii w moczu, co jest istotne w diagnostyce infekcji dr贸g moczowych.</li>
      <li class="list-group-item"><span class="badge text-bg-primary">Cena: 70 z</span></li>
      </ul>
      </td>
    </tr>
    <tr>
    <td>Badanie poziomu hormon贸w (np. TSH, T3, T4)</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-align:justify">Pomaga w ocenie funkcjonowania tarczycy oraz innych narzd贸w endokrynologicznych.</li>
      <li class="list-group-item"><span class="badge text-bg-primary">Cena: 120 z</span></li>
      </ul>
      </td>
    </tr>
</tbody>
</table>
</div>

<div style="width:100%;height:300px; margin: 950px 0px 920px 0px">
<center><hr style="width:50%" /></center>
<center><h1><span class="badge text-bg-primary" style="margin-top: 10px;">Dbamy o Zdrowie Twojego Dziecka</span></h1>
<h5 class="fw-lighter" style="text-align:justify; margin-left:200px; margin-right:200px; margin-top:30px">Czy wiesz, 偶e nasze laboratorium oferuje szeroki zakres bada diagnostycznych, kt贸re mog pom贸c w monitorowaniu zdrowia i rozwijaniu Twojego dziecka? Niezale偶nie od tego, czy potrzebujesz rutynowych bada kontrolnych, czy specjalistycznych test贸w diagnostycznych, nasz zesp贸 jest gotowy sprosta Twoim oczekiwaniom.
</h5></center>

<div style="width:40%; height:100px; float: left; padding:30px; margin-top:0;">

<h4 class="fw-lighter" style="margin-left:30px"><span style="color:#0d6efd; font-weight:bold;text-shadow: 0 0 1px #333; margin-top:50px;">Zapraszamy do skorzystania z naszych usug dla najmodszych pacjent贸w!</span></h4>

<h5 class="fw-lighter" style="text-align:justify; margin-left:70px; margin-right:20px; margin-top:30px; margin-bottom:20px"><strong>Dlaczego warto wybra nasze laboratorium? 猡碉</strong> </h5>

<div class="list-group" style="margin-bottom:20px">
<a class="list-group-item list-group-item-action list-group-item-primary" style="text-align:left; margin-left:20px"> Badania dostosowane do potrzeb dzieci i modzie偶y</a>
<a class="list-group-item list-group-item-action list-group-item-primary" style="text-align:left; margin-left:20px"> Wykwalifikowany personel, kt贸ry dba o komfort i bezpieczestwo najmodszych pacjent贸w</a>
<a class="list-group-item list-group-item-action list-group-item-primary" style="text-align:left; margin-left:20px"> Nowoczesne wyposa偶enie zapewniajce dokadne i rzetelne wyniki</a>
    <a class="list-group-item list-group-item-action list-group-item-primary" style="text-align:left; margin-left:20px"> Indywidualne podejcie do ka偶dego dziecka, dbajc o jego emocje i dobrostan</a>    
</div>

<h5 class="fw-lighter" style="text-align:justify; margin-left:30px; margin-right:20px; margin-top:10px; margin-bottom:20px">Skontaktuj si z nami ju偶 dzi, aby um贸wi si na badania dla Twojego dziecka. Nasz zesp贸 z przyjemnoci udzieli wszelkich potrzebnych informacji i zapewni fachow opiek diagnostyczn dla Twojego dziecka.
</h5>

<%= image_tag "child.jpg", class:"d-block", height:410, style:"margin-left:60px; margin-top:40px"%>

</div>

<div style="width:55%; height:100px; float:right; padding:30px;">

<table class="table" style="margin-top:0px; width:700px">
  <thead>
    <tr>
      <th scope="col" style="width:30%; background-color:#c6c6c6">Nazwa Badania</th>
      <th scope="col" style="width:60%; background-color:#c6c6c6">Opis i cena</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Badanie morfologii krwi u dzieci</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-align:justify">Podobnie jak u dorosych, badanie obejmuje liczb krwinek czerwonych, biaych oraz pytek krwi, co pozwala na ocen og贸lnego stanu zdrowia dziecka.</li>
      <li class="list-group-item"><span class="badge text-bg-primary">Cena: 50 z</span></li>
      </ul>
      </td>
    </tr>
    <tr>
    <td>Badanie przeciwcia anty-HBs (Hepatitis B) u dzieci
    </td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-align:justify">Badanie przeciwcia pozwala oceni odporno dziecka na wirusa zapalenia wtroby typu B i mo偶e by wykonywane w celach profilaktycznych lub kontrolnych po szczepieniu.</li>
      <li class="list-group-item"><span class="badge text-bg-primary">Cena: 60 z</span></li>
      </ul>
      </td>
    </tr>
    <tr>
    <td>Badanie CRP (biako C-reaktywne) u dzieci</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-align:justify">Badanie to pozwala na ocen stopnia zapalenia w organizmie dziecka i mo偶e by przydatne w diagnozowaniu r贸偶norodnych chor贸b, w tym infekcji.</li>
      <li class="list-group-item"><span class="badge text-bg-primary">Cena: 40 z</span></li>
      </ul>
      </td>
    </tr>
    <tr>
    <td>Badanie w kierunku alergii pokarmowej u dzieci</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-align:justify">Badanie to ocenia reakcje immunologiczne na r贸偶ne pokarmy, co mo偶e pom贸c w diagnozowaniu alergii pokarmowej u dzieci.</li>
      <li class="list-group-item"><span class="badge text-bg-primary">Cena: 150 z</span></li>
      </ul>
      </td>
    </tr>
    <tr>
    <td>Badanie st偶enia 偶elaza we krwi u dzieci</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-align:justify">Badanie to pozwala na ocen poziomu 偶elaza we krwi dziecka, co jest istotne dla diagnostyki niedobor贸w 偶elaza i anemii.</li>
      <li class="list-group-item"><span class="badge text-bg-primary">Cena: 50 z</span></li>
      </ul>
      </td>
    </tr>
    <tr>
    <td>Badanie RTG zb贸w mlecznych u dzieci</td>
      <td>
      <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-align:justify">Badanie radiologiczne zb贸w mlecznych pozwala oceni stan uzbienia dziecka i diagnozowa ewentualne problemy z zbami mlecznymi.</li>
      <li class="list-group-item"><span class="badge text-bg-primary">Cena: 80 z</span></li>
      </ul>
      </td>
    </tr>
</tbody>
</table>

</div>

</div>


</div>


<footer class="footer">
<p><b>Copyright 漏 2024 </b>DoctorSeeker. Wszelkie prawa zastrze偶one.</p>
</footer>