<nav class="navbar navbar-expand-lg" style="background-color: #66d3fa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= patient_path(@patient) %>">Strona g贸wna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= profile_patient_path(@profile_patient) %>">M贸j profil</a>
        </li>
        <li class="nav-item">
          <% unless current_user %>
          <a class="nav-link active" href="<%= login_path(@login) %>">Logowanie</a>
          <%end%>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Moje
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= patient_appointments_path %>">Wizyty</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= patient_lab_results_path %>">Badania</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= patient_prescriptions_path %>">Recepty</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= patient_reviews_path %>">Recenzje</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            O przychodni 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= doctors_patient_path(@doctors_patient) %>">Lekarze</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= price_patient_path(@price_patient) %>">Cennik</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= lab_patient_path(@lab_patient) %>">Spis wykonywanych bada</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-disabled="true" href="<%= help_patient_path(@help_patient) %>">Pomoc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= contact_patient_path(@contact_patient) %>">Kontakt</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="<%= logout_patient_path(@logout_patient) %>">Wyloguj</a>
      </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>


<div id="cont">
<center><hr style="width:80%; margin-top:20px; padding:0px" /></center>
<div class="left" style="width:50%; float:left; height:500px; margin-bottom:300px">

<h2 class="fw-lighter" style="margin-bottom:20px"><span style="font-weight:500"><center>Witaj w DoctorSeeker <%= current_user.first_name %>!</center></span></h2>

<h5 class="fw-lighter" style="text-align:justify; margin-bottom:30px">
<p>Cieszymy si, 偶e znalaze drog do naszej strony internetowej. Jestemy miejscem, gdzie Twoje zdrowie jest naszym priorytetem, a Twoje potrzeby s naszym celem.</p>
  Dziki naszej platformie mo偶esz w atwy i wygodny spos贸b zarzdza swoj opiek zdrowotn. Rezerwuj wizyty u naszych dowiadczonych lekarzy, planuj badania diagnostyczne w naszym zaawansowanym laboratorium oraz przegldaj swoje recepty z dowolnego miejsca i w dowolnym czasie.  
</h5>
<div class="alert alert-primary" role="alert" style="margin-top:10px">
<p class="fw-lighter"> 癸 Zjed藕 ni偶ej, aby przejrze dostpne terminy wizyt lekarskich</b>.</p>
</div>
<div class="card text-bg-primary mb-3" style="max-width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">Dzikujemy za zaufanie i zapraszamy do korzystania z naszych usug!</h5>
    <p class="card-text"><p><i>Zesp贸 Przychodni Medycznej DoctorSeeker </i></p></p>
  </div>
</div>


  <div class="card">
  <h5 class="card-header">FAQ</h5>
  <div class="card-body">
    <h5 class="card-title">Najczciej zadawane pytania</h5>
    <p class="card-text">Sprawd藕 zakadk najczciej zadawane pytania.</p>
    <a href="<%= help_patient_path(@help_patient) %>" class="btn btn-primary">Kliknij tutaj</a>
  </div>
</div>


</div>

<div class="right" style="width:40%; float:right; height:500px; margin-bottom:300px">

<%= image_tag "Logo.jpg", height: 450, style:"margin-top:60px; border-radius:80px" %>


<!--
<% if @free_appointments.any? %>
  <h2>Wolne terminy</h2>
  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Doktor</th>
        <th>Akcja</th>
      </tr>
    </thead>
    <tbody>
      <% @free_appointments.each do |appointment| %>
        <% user_appointment = UserAppointment.new %>

        <tr>
          <td><%= appointment.appointment_date %></td>
          <td><%= appointment.doctor.first_name %> <%= appointment.doctor.last_name %></td>
          <td>
            <% if user_appointment.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(user_appointment.errors.count, "bd") %> uniemo偶liwio zapisanie tego terminu:</h2>

                <ul>
                  <% user_appointment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= form_with model: user_appointment do |form| %>
              <%= form.hidden_field :appointment_id, value: appointment.id %>
              <%= form.hidden_field :patient_user_id, value: current_user.id %>
              <%= form.submit "Zarezerwuj termin", class: "btn btn-primary" %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
-->

<!--
<% if @reserved_appointments.any? %>
  <h2>Zarezerwowane terminy</h2>
  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Doktor</th>
      </tr>
    </thead>
    <tbody>
      <% @reserved_appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.appointment_date %></td>
          <td><%= appointment.doctor.first_name %> <%= appointment.doctor.last_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if !@free_appointments.any? && !@reserved_appointments.any? %>
  <p>Brak dostpnych termin贸w.</p>
<% end %>
-->
</div>


<center><hr style="width:80%; margin-top:400px; padding:10px" />
<h1><span class="badge text-bg-primary" style=" ">Wolne terminy - nie zwlekaj i zarezerwuj wizyt ju偶 teraz!</span></h1></center>
<div style="width:98%; margin-bottom:100px">
<div class="container mt-5">
 <% if @doctors_with_free_appointments.any? %>
      <h2>Lekarze dysponujcy wolnymi terminami</h2>
      <ul>
        <% @doctors_with_free_appointments.each do |doctor| %>
          <li>
            <%= link_to "#{doctor.last_name} #{doctor.first_name}", patient_doctor_appointments_path(doctor.id) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Brak dostpnych termin贸w.</p>
    <% end %>
  </div>
</div>

</div>
</div>

<footer class="footer">
<p><b>Copyright 漏 2024 </b>DoctorSeeker. Wszelkie prawa zastrze偶one.</p>
</footer>