<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= patient_path(@patient) %>">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= profile_patient_path(@profile_patient) %>">Mój profil</a>
        </li>
        <li class="nav-item">
          <% unless current_user %>
          <a class="nav-link active" href="<%= login_path(@login) %>">Logowanie</a>
          <%end%>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Moje
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= patient_appointments_path %>">Wizyty</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= patient_lab_results_path %>">Badania</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= patient_prescriptions_path %>">Recepty</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= patient_reviews_path %>">Recenzje</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            O przychodni 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= doctors_patient_path(@doctors_patient) %>">Lekarze</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= price_patient_path(@price_patient) %>">Cennik</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= lab_patient_path(@lab_patient) %>">Spis wykonywanych badań</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-disabled="true" href="<%= help_patient_path(@help_patient) %>">Pomoc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= contact_patient_path(@contact_patient) %>">Kontakt</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="<%= logout_patient_path(@logout_patient) %>">Wyloguj</a>
      </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>
<style>
  #calendar {
    width: 100%;
  }

  .simple-calendar {
    width:100%;
    font-size:17px;
    border-collapse: collapse;
    border-spacing: 0;
    font-family:'Roboto', sans-serif;
    border: 1px solid #ccc;
    background-color: #d5f3fe;
  }


  .simple-calendar .day {
    width: 14%;
    height: 100px;
    position: relative;
    font-size: 14px;
  }

  .simple-calendar .today {
    background-color: #66d3fa;
  }

  .simple-calendar .past {
    background-color: #f8f9fa;
  }

  .simple-calendar .future {
    background-color: #ffffff;
  }

  .simple-calendar .has-events {
    background-color: #e0f7fa;
  }

  .simple-calendar .day div {
    text-align: center;
  }

  .appointments-info {
    display: none;
    position: absolute;
    z-index: 100;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    right: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .appointments-info ul {
    list-style: none;
    padding: 0;
  }

  .appointments-info ul li {
    margin: 0px 0;
  }

  .right {
    border: 2px solid black;
    border-radius: 30px;
    margin-right: 15px;
    padding-left: 30px;
    background: linear-gradient(to right, #87cefa, #dda0dd);
    height: 980px;
}

</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const days = document.querySelectorAll(".day");
    let currentOpenedDay = null;

    days.forEach(day => {
      day.addEventListener("click", function() {
        const appointmentsInfo = this.querySelector(".appointments-info");
        const currentDayHeight = this.offsetHeight;

        if (currentOpenedDay === this) {
          appointmentsInfo.style.display = "none";
          currentOpenedDay = null;
        } else {
          if (currentOpenedDay) {
            currentOpenedDay.querySelector(".appointments-info").style.display = "none";
          }
          appointmentsInfo.style.top = `-${currentDayHeight}px`;
          appointmentsInfo.style.display = "block";
          currentOpenedDay = this;
        }
      });

      document.body.addEventListener("click", function(event) {
        if (!event.target.closest(".day")) {
          const appointmentsInfo = document.querySelector(".appointments-info");
          if (appointmentsInfo) appointmentsInfo.style.display = "none";
          currentOpenedDay = null;
        }
      });
    });
  });
</script>

<div id="cont" style="margin-top:100px;">
  <div class="left">
    <h2 class="fw-lighter"><strong><center>Witaj w DoctorSeeker<span class="badge rounded-pill text-bg-warning" style="margin:10px"> <%= current_user.first_name %></span>👨‍⚕️</strong></center></h2>
    <h5 class="fw-lighter" style="text-align:justify; margin-bottom:30px">Twoje zdrowie jest dla nas najważniejsze. Dzięki DoctorSeeker, rezerwacja wizyty u lekarza jest teraz szybka, łatwa i wygodna. Nasza platforma łączy Cię z szeroką siecią specjalistów medycznych, abyś mógł znaleźć odpowiedniego lekarza dla swoich potrzeb.</h5>

    <div class="card text-bg-primary mb-3" style="max-width: 50rem;">
      <div class="card-body">
        <h5 class="card-title">Znajdź lekarza</h5>
        <p class="card-text">Przeglądaj profile lekarzy, czytaj opinie innych pacjentów i wybierz najlepszego specjalistę dla siebie.</p>
      </div>
    </div>

    <div class="card text-bg-primary mb-3" style="max-width: 50rem;">
      <div class="card-body">
        <h5 class="card-title">Rezerwuj Wizyty</h5>
        <p class="card-text">Wybierz dogodny termin i umów się na wizytę bezpośrednio przez naszą aplikację. Zarządzaj swoimi wizytami i przypomnieniami w jednym miejscu.</p>
      </div>
    </div>

    <div class="card text-bg-primary mb-3" style="max-width: 50rem;">
      <div class="card-body">
        <h5 class="card-title">Zarządzaj Swoim Zdrowiem</h5>
        <p class="card-text">Śledź swoje wizyty, badania i historię leczenia, aby mieć pełną kontrolę nad swoim zdrowiem.</p>
      </div>
    </div>

    <h5 class="fw-lighter" style="text-align:justify; margin-bottom:30px; margin-top:30px">Dołącz do społeczności DoctorSeeker już dziś i odkryj nowy wymiar opieki zdrowotnej!</h5>

    <div class="card">
      <h5 class="card-header">FAQ</h5>
      <div class="card-body">
        <h5 class="card-title">Najczęściej zadawane pytania</h5>
        <p class="card-text">Sprawdź zakładkę najczęściej zadawane pytania.</p>
        <a href="<%= help_patient_path(@help_patient) %>" class="btn btn-primary">Kliknij tutaj</a>
      </div>
    </div>

  </div>

<div class="right">
  <strong><center><h2 class="fw-lighter badge rounded-pill text-bg-primary" style="margin-top:10px;font-size:25px;">Kalendarz terminów 📅</h2></center></strong>
  <b><h5 class="fw-lighter" style="text-align:justify; margin-bottom:30px; padding-left:10px; margin-top:20px">Kliknij na wybrany dzień, aby sprawdzić i zarezerwować wybrany termin:</h5>
  </b>
  <div id="calendar">
    <div class="container mt-5 text-center">
     <%= month_calendar(events: @free_appointments_calendar) do |date, appointments| %>
        <div class="day">
          <%= date.day %>
        </div>
          <div class="appointments-info" <%= 'has-events' if appointments.any? %>>
            <h5 class="badge rounded-pill text-bg-warning fw-lighter" style="font-size:15px; padding:10px">Wizyty na <%= date.strftime("%d/%m/%Y") %></h5>
            <ul class="list-group">
              <% appointments.each do |appointment| %>
                <% if appointment.start_time.present? && appointment.end_time.present? %>
                    <% if appointment.start_time >= Date.today %>
                    <li class="list-group-item">
                      <strong><%= appointment.start_time.strftime("%H:%M") %> - <%= appointment.end_time.strftime("%H:%M") %></strong> <br>
                      <%= "#{appointment.doctor.first_name} #{appointment.doctor.last_name}" %> <br>
                      <% if appointment.user_appointments.any? %>
                        <%= link_to "Pokaż wizytę", user_appointment_path(appointment.user_appointments.first), class: "btn btn-primary" %>
                      <% else %>
                        <%= form_with model: @user_appointment, local: true do |form| %>
                          <%= form.hidden_field :appointment_id, value: appointment.id %>
                          <%= form.hidden_field :patient_user_id, value: current_user.id %>
                          <%= form.submit "Zarezerwuj termin", class: "btn btn-primary" %>
                      </li>  
                        <% end %>      
                      <% end %>                  
                  <% end %>             
                <% end %>              
              <% end %>
            </ul>
          </div>

      <% end %>
    </div>
  </div>
</div>

</div>

  </div>
</div>

<footer class="footer">
  <p><b>Copyright © 2024 </b>DoctorSeeker. Wszelkie prawa zastrzeżone.</p>
</footer>
