<h1>Recepty</h1>

<% if @prescriptions.any? %>
  <% @prescriptions.each do |prescription| %>
    <div>
      <p>Data wystawienia recepty: <%= prescription.created_at.strftime("%d.%m.%Y") %></p>
      <p>Data ważności recepty: <%=prescription.utility_date%></p>
      <p>Lekarz wystawiający: <%= User.find(prescription.additional_user_id).first_name %> <%= User.find(prescription.additional_user_id).last_name %></p>
      <% if prescription.file.attached? %>
        <%= link_to "Recepta", rails_blob_url(prescription.file) %>
      <% else %>
        <p>Brak pliku do pobrania</p>
      <% end %>
    </div>
    <hr>
  <% end %>
<% else %>
  <p>Nie posiadasz jeszcze żadnych recept.</p>
<% end %>