<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;" id="bookmarksContainer">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark1" aria-current="page" href="<%= doctor_path(@doctor) %>">Strona g贸wna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark2" href="<%= issue_prescription_path %>">Wydaj recept</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark3" href="<%= lab_results_path %>">Wyniki bada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark4" href="<%= set_appointment_path %>">Dostpne terminy wizyt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark5" href="<%= doctor_profile_path(@doctor_profile) %>">M贸j profil</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark6" href="<%= doctor_logout_path(@doctor_logout) %>">Wyloguj</a>
      </li>
      </ul>
      <form class="d-flex" role="search">
      <input class="form-control me-2" id="searchInput" type="search" placeholder="Wyszukaj na stronie..." >
      <button class="btn btn-primary" id="searchButton" type="button">Szukaj</button>
      </form>
    </div>
  </div>
</nav>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const days = document.querySelectorAll(".day");
    let currentOpenedDay = null;

    days.forEach(day => {
      day.addEventListener("click", function() {
        const appointmentsInfo = this.querySelector(".appointments-info");
        const currentDayHeight = this.offsetHeight;

        if (currentOpenedDay === this) {
          appointmentsInfo.style.display = "none";
          currentOpenedDay = null;
        } else {
          if (currentOpenedDay) {
            currentOpenedDay.querySelector(".appointments-info").style.display = "none";
          }
          appointmentsInfo.style.top = `-${currentDayHeight}px`;
          appointmentsInfo.style.display = "block";
          currentOpenedDay = this;
        }
      });

      // Dodajemy obsug zdarzenia kliknicia na body, aby ukry okienko z terminami
      // jeli u偶ytkownik kliknie gdziekolwiek poza okienkiem
      document.body.addEventListener("click", function(event) {
        if (!event.target.closest(".day")) {
          const appointmentsInfo = document.querySelector(".appointments-info");
          appointmentsInfo.style.display = "none";
          currentOpenedDay = null;
        }
      });
    });
  });

document.addEventListener("DOMContentLoaded", function() {
  const startTimeInput = document.getElementById("appointment_start_time");
  const endTimeInput = document.getElementById("appointment_end_time");
  const form = document.querySelector('form');

  // Ustawienie minimalnej daty i czasu w polu kocowym
  startTimeInput.addEventListener("change", function() {
    if (startTimeInput.value) {
      let [date, time] = startTimeInput.value.split("T");
      let [hours, minutes] = time.split(":");
      minutes = parseInt(minutes) + 30;
      if (minutes >= 60) {
        hours = parseInt(hours) + 1;
        minutes = minutes - 60;
      }
      let endTime = `${date}T${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;
      endTimeInput.value = endTime;
      endTimeInput.min = startTimeInput.value;
    }
  });

  // Ustawienie pocztkowej minimalnej wartoci dla czasu kocowego
  if (startTimeInput.value) {
    let [date, time] = startTimeInput.value.split("T");
    let [hours, minutes] = time.split(":");
    minutes = parseInt(minutes) + 30;
    if (minutes >= 60) {
      hours = parseInt(hours) + 1;
      minutes = minutes - 60;
    }
    let endTime = `${date}T${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;
    endTimeInput.value = endTime;
    endTimeInput.min = startTimeInput.value;
  }

  // Walidacja przed wysaniem formularza
  form.addEventListener('submit', function(event) {
    if (!startTimeInput.value) {
      event.preventDefault();
      alert('Prosz wprowadzi dat i godzin rozpoczcia.');
    } else if (!endTimeInput.value) {
      event.preventDefault();
      alert('Prosz wprowadzi dat i godzin zakoczenia.');
    }
  });
});
</script>

<style>
  .appointments-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 999;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.list-group-item {
  background-color: #66d3fa;
  color: black;
}
.link {
  color: black;
  font-weight: bold;
}

  #cont {
    display: flex;
  }
 .right {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #87cefa, #dda0dd);
    height: 850px;
    border: 2px solid black;
    border-radius: 30px;
    margin-right: 15px;
    padding-left: 30px;
}
.left{
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 850px;
}
  #calendar {
    width: 100%;
  }

  .simple-calendar {
    flex-wrap: wrap;
  }

  .simple-calendar .day {
    width: 14%; /* Szeroko 1/7 dla ka偶dego dnia w tygodniu */
    height: 100px; /* Staa wysoko dla ka偶dego dnia */
    position: relative;
    font-size: 14px;
  }

  .simple-calendar .wday-0, /* Sunday */
  .simple-calendar .wday-1, /* Monday */
  .simple-calendar .wday-2, /* Tuesday */
  .simple-calendar .wday-3, /* Wednesday */
  .simple-calendar .wday-4, /* Thursday */
  .simple-calendar .wday-5, /* Friday */
  .simple-calendar .wday-6 { /* Saturday */
    width: 14%;
  }

  .simple-calendar .today {
    background-color: #66d3fa;
    color: white;
  }

  .simple-calendar .past {
    background-color: #f8f9fa;
  }

  .simple-calendar .future {
    background-color: #ffffff;
  }

  .simple-calendar .start-date {
    font-weight: bold;
  }

  .simple-calendar .prev-month, 
  .simple-calendar .next-month {
    color: #ccc;
  }

  .simple-calendar .current-month {
    color: #000;
  }

  .simple-calendar .has-events {
    background-color: #e0f7fa;
  }

  .simple-calendar .day div {
    text-align: center;
  }

  .card {
    margin: 5px 0;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    width: 100px;
    left: 5%;
    box-sizing: border-box;
  }

  .card-header {
    background-color: #66d3fa;
    color: white;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }

  .card-body {
    padding: 5px;
  }

  .form-control {
    width: 200px; /* Ustaw szeroko input贸w na 200px */
  }


  
</style>
  <div id="cont" style="margin-top: 80px;">
    <div class="left">
      <!-- Formularz do tworzenia nowego terminu -->
      <strong><center><h2 class="fw-lighter badge rounded-pill text-bg-primary" style="margin-top:10px;font-size:25px;">Dodaj nowy termin</h2></center></strong>
      <%= form_with model: @appointment, url: appointments_path, local: true, data: { turbo: false } do |form| %>
        <div class="mb-3">
          <%= form.label :start_time, "Data i godzina rozpoczcia" %>
          <%= form.datetime_local_field :start_time, class: "form-control", style: "width: 200px;", id: "appointment_start_time" %>
        </div>
        <div class="mb-3">
          <%= form.label :end_time, "Data i godzina zakoczenia" %>
          <%= form.datetime_local_field :end_time, class: "form-control", style: "width: 200px;", id: "appointment_end_time" %>
        </div>
        <%= form.submit "Dodaj termin", class: "btn btn-primary" %>
      <% end %>
    </div>


    <div class="right">
              <strong><center><h2 class="fw-lighter badge rounded-pill text-bg-primary" style="margin-top:10px;font-size:25px;">Kalendarz termin贸w </h2></center></strong>
              <b><h5 class="fw-lighter" style="text-align:justify; margin-bottom:0px; padding-left:10px; margin-top:20px">W tym miejscu bd wywietla si wszystkie Twoje wizyty, te zarezerwowane przez pacjent贸w jak i wolne:</h5>
              </b>
      <div id="calendar">
        <div class="container mt-5 text-center">
          <%= month_calendar(events: @appointments) do |date, appointments| %>
            <div class="day" data-day="<%= date %>">
              <%= date.day %>
            </div>
            <div class="appointments-info" style="display: none;">
             <h5 class="badge rounded-pill text-bg-warning fw-bold" style="font-size:11px; padding:10px">Wizyty na <%= date.strftime("%d/%m/%Y") %></h5>
              <ul class="list-group">
              <% appointments.each do |appointment| %>
                <li class="list-group-item">
                  <% if appointment.start_time && appointment.end_time %>
                    <strong><%= link_to "#{appointment.start_time.strftime("%k:%M")} - #{appointment.end_time.strftime("%k:%M")}", appointment_path(appointment), class: "link" %></strong> </br>
                    <% if appointment.user_appointments.present? %>
                      <% appointment.user_appointments.each do |user_appointment| %>
                        <% patient = @users.find { |user| user.id == user_appointment.patient_user_id } %>
                        <%= link_to "#{patient.first_name} #{patient.last_name}", appointment_path(appointment), class: "link"%>
                      <% end %>
                    <% else %>
                      Brak przypisanego pacjenta
                    <% end %>
                  <% else %>
                    <strong>Brak informacji o czasie rozpoczcia lub zakoczenia</strong>
                  <% end %>
                </li>
              <% end %>

              </ul>
            </div>
          <% end %>
        </div>
      </div>
  </div>


<footer class="footer">
<p><b>Prawa autorskie 漏 2024 </b>DoctorSeeker. Wszelkie prawa zastrze偶one.</p>
</footer>

<script>
function redirectToMatchingBookmark(event) {
  event.preventDefault();
  var searchText = document.getElementById('searchInput').value.toLowerCase();
  var bookmarks = document.querySelectorAll('.bookmark');
  var found = false;

  for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
      // Przekieruj do pasujcej zakadki
      window.location.href = bookmark.href;
      found = true;
      break;
    }
  }

  if (!found) {
    alert("Nie znaleziono pasujcej zakadki ");
  }
}

document.getElementById('searchButton').addEventListener('click', function (event) {
  redirectToMatchingBookmark(event);
});

function updateDateTime() {
  var currentDate = new Date();
  var day = currentDate.toLocaleDateString();
  var time = currentDate.toLocaleTimeString();
  var dateTimeString = day + ' ' + time;
  document.getElementById('currentDateTime').innerHTML = dateTimeString;
}

setInterval(updateDateTime, 1000);
window.onload = updateDateTime;
</script>