<nav class="navbar navbar-expand-lg" style="background-color: #66d3fa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= doctor_path(@doctor) %>">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= issue_prescription_path %>">Wydaj receptę</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= lab_results_path %>">Wyniki badań</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= set_appointment_path %>">Dostępne terminy wizyt</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            O przychodni 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= doctor_doctors_path(@doctor_doctors) %>">Lekarze</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= doctor_price_path(@doctor_price) %>">Cennik</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= doctor_lab_path(@doctor_lab) %>">Spis wykonywanych badań</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= doctor_help_path(@doctor_help) %>">Pomoc</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= doctor_contact_path(@doctor_contact) %>">Kontakt</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= doctor_profile_path(@doctor_profile) %>">Mój profil</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="<%= doctor_logout_path(@doctor_logout) %>">Wyloguj</a>
      </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>


<div id="cont">

<center><h1><span class="badge text-bg-primary" style="margin-top: 30px; margin-bottom:0">Dostępne terminy wizyt</span></h1></center>
<div style="width:40%; height:50px; float: left; padding:30px; margin-top:10px; margin-left:70px; margin-bottom:200px">
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
W tym miejscu masz możliowść dodać termin, podczas którego możesz spotkać się z pacjentem. Po prawej stronie znajduje się formularz do dodawania terminów natomiast po lewej stronie jest spis termniów, które dodałeś.
</h5>
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Jeśli potrzebujesz zmienić termin lub masz pytania dotyczące dodawania nowych terminów, zachęcamy do kontaktu z naszym działem administracji.
</h5>
</div>

<div style="width:40%; height:50px; float: right; padding:30px; margin-top:10px; margin-right:70px; margin-bottom:200px">
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Pamiętaj, aby podczas dodawania terminów wybrać konkrenty dzień oraz godzinę spotkania. 
</h5>
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Dziękujemy, że jesteś częścią naszej przychodni.
</h5>
<h5 class="fw-lighter" style="text-align:center; margin-bottom:10px"><i>
<span style="color: #000080;">Zespół Przychodni Lekarskiej <b>DoctorSeeker</b></span></i>
</h5>
</div>

<center><hr style="width:80%; margin-top:10px; padding:0px" /></center>

<div class="left">

   <!-- Formularz do tworzenia nowego terminu -->
    <center><h3 class="mb-4" style="margin-top:5px">Dodaj nowy termin ⬇️</h3></center>
    <%= form_with model: @appointment, url: appointments_path do |form| %>
      <div class="mb-3">
        <%= form.label :appointment_date, "Data i godzina" %>
        <%= form.datetime_local_field :appointment_date, class: "form-control" %>
      </div>
      <center><%= form.submit "Dodaj termin", class: "btn btn-primary" %></center>
    <% end %>

<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
       <%= image_tag "kwiecień.png", class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
    <%= image_tag "maj.png", class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
     <%= image_tag "maj.png", class:"d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

  
</div>
</div>

<div class="right">
  <center><h3 class="mb-4" style="margin-top:5px">Kalendarz terminów ⬇️</h3></center>
  <div id="calendar"></div>

  <table class="table table-bordered table-striped bg-primary text-white">
    <thead>
      <tr>
        <th><center>Data</center></th>
        <th><center>Pacjent</center></th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><center><%= appointment.appointment_date %></center></td>
          <td><center>
            <% if appointment.user_appointments.any? %>
              <%= appointment.user_appointments.first.patient.first_name %> <%= appointment.user_appointments.first.patient.last_name %>
            <% else %>
              Wolny termin
            <% end %></center>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>

<footer class="footer">
<p><b>Prawa autorskie © 2024 </b>DoctorSeeker. Wszelkie prawa zastrzeżone.</p>
</footer>
