<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= doctor_path(@doctor) %>">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= doctor_login_path(@login) %>">Logowanie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= issue_prescription_path %>">Wydaj receptę</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= lab_results_path %>">Wyniki badań</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= set_appointment_path %>">Dostępne terminy wizyt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= doctor_profile_path(@doctor_profile) %>">Mój profil</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="<%= doctor_logout_path(@doctor_logout) %>">Wyloguj</a>
      </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>


<div id="cont" style="margin-top: 90px;">

<h1>Lista lekarzy</h1>

<% @doctors.each do |doctor| %>
  <div>
    <h2><%= link_to "#{doctor.first_name} #{doctor.last_name}", doctor_id_path(doctor), class: 'btn btn-primary' %></h2>
  </div>
  <hr>
<% end %>
<center><h1 style="margin-bottom:20px"><b>Witaj w sekcji<span class="badge text-bg-primary" style="margin-top: 30px; margin-left:10px">Lekarze</span></h1></center></b>
<center><hr class="hr hr-blurry" style="width:80%; margin:0"></center>
<div style="width:50%; height:100px; float: left; padding:30px;">
<h5 class="fw-lighter" style="text-align:justify">Jesteśmy dumni z zespołu wybitnych lekarzy, którzy z pasją i zaangażowaniem poświęcają się opiece zdrowotnej naszych pacjentów. Każdy z naszych lekarzy to specjalista w swojej dziedzinie, gotowy zapewnić kompleksową opiekę medyczną na najwyższym poziomie. </h5>
<h5 class="fw-lighter" style="text-align:justify">
Zapraszamy do zapoznania się z naszymi lekarzami oraz ich specjalizacjami. Każdy z naszych lekarzy dba o to, abyś czuł się bezpiecznie i komfortowo podczas wizyty, a nasza opieka medyczna była skuteczna i dostosowana do Twoich potrzeb.</h5>
</div>

<div style="width:50%; height:100px; float:right; padding:30px">
<h5 class="fw-lighter" style="text-align:justify">Niezależnie od Twoich potrzeb zdrowotnych, znajdziesz u nas lekarza odpowiedniego dla Ciebie. Od pediatrów, przez ginekologów, po kardiologów i specjalistów innych dziedzin medycyny – nasz zespół jest gotowy sprostać różnorodnym potrzebom zdrowotnym pacjentów w każdym wieku.</h5>
<h5 class="fw-lighter" style="text-align:justify">Czekamy na Ciebie w naszej przychodni, abyśmy mogli razem dbać o Twoje zdrowie i dobre samopoczucie.</h5>

<div class="alert alert-primary" role="alert" style="margin-top:10px">
<p class="fw-lighter"> ℹ️ Aby czytać i wystawiać opinie o lekarzach prosimy o <b>zalogowanie się</b> na naszej platformie.</p>
</div>
</div>

<div style="width:100%;height:300px; margin: 300px 0px 2450px 0px">

<center><hr class="hr hr-blurry" style="width:50%"></center>

<div class="row row-cols-1 row-cols-md-3 g-4" style="width:95%; margin:40px;">

  <div class="col">
    <div class="card h-100">
    <%= image_tag "doctor1.png", class:"d-block", height:450%>
      <div class="card-body">
        <h5 class="card-title">Dr. Aleksandra Nowak</h5>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        Kliknij tutaj, aby dowiedzieć się więcej
        </button>
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Dr. Aleksandra Nowak</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <center><%= image_tag "doctor1.png", class:"d-block", height:300%>
            <p class="fw-lighter" style="padding:20px; text-align:justify">Dr. Aleksandra Nowak to doświadczony lekarz ogólny, który poświęca się kompleksowej opiece zdrowotnej dla dorosłych pacjentów. Z pasją i zaangażowaniem podejmuje się diagnozowania i leczenia różnorodnych schorzeń, dbając o dobro i komfort każdego pacjenta. Jej empatyczne podejście oraz profesjonalizm sprawiają, że wizyta u niej to pewność skutecznej pomocy i wsparcia. </p>
            </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wyjdź</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><span class="badge text-bg-primary">Poradnia Ogólna</span></small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <%= image_tag "doctor2.png", class:"d-block", height:450%>
      <div class="card-body">
        <h5 class="card-title">Dr. Tomasz Kowalczyk</h5>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        Kliknij tutaj, aby dowiedzieć się więcej
        </button>
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Dr. Tomasz Kowalczyk</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <center><%= image_tag "doctor2.png", class:"d-block", height:300%>
            <p class="fw-lighter" style="padding:20px; text-align:justify">Dr. Tomasz Kowalczyk to lekarz ogólny dla dorosłych, który kładzie nacisk na profilaktykę zdrowotną oraz holistyczne podejście do pacjenta. Jego bogate doświadczenie kliniczne oraz troska o dobro pacjentów sprawiają, że wizyta u niego to nie tylko diagnoza i leczenie, ale także wsparcie w utrzymaniu zdrowego trybu życia i dobrego samopoczucia. </p>
            </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wyjdź</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><span class="badge text-bg-primary">Poradnia Ogólna</span></small>
      </div>
    </div>
  </div>

  <div class="col">
  <div class="card h-100">
    <%= image_tag "doctor3.png", class:"d-block", height:450%>
    <div class="card-body">
      <h5 class="card-title">Dr. Marta Lewandowska</h5>
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
      Kliknij tutaj, aby dowiedzieć się więcej
      </button>
      <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Dr. Marta Lewandowska</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <center><%= image_tag "doctor3.png", class:"d-block", height:300%>
          <p class="fw-lighter" style="padding:20px; text-align:justify">Dr. Marta Lewandowska to lekarz ogólny, którego celem jest zapewnienie kompleksowej opieki zdrowotnej dla dorosłych pacjentów. Jej cierpliwość i indywidualne podejście do każdego przypadku sprawiają, że pacjenci czują się bezpiecznie i zrozumiale podczas wizyty. Dzięki jej zaangażowaniu i wiedzy medycznej pacjenci mogą liczyć na skuteczną pomoc w utrzymaniu zdrowia i dobrego samopoczucia. </p>
          </center>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wyjdź</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary"><span class="badge text-bg-primary">Poradnia Ogólna</span></small>
    </div>
  </div>
</div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4" style="width:95%; margin:40px;">

  <div class="col">
    <div class="card h-100">
    <%= image_tag "doctor5.jpg", class:"d-block", height:450%>
      <div class="card-body">
        <h5 class="card-title">Dr. Katarzyna Nowakowska</h5>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal4">
        Kliknij tutaj, aby dowiedzieć się więcej
        </button>
        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Dr. Katarzyna Nowakowska</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <center><%= image_tag "doctor5.jpg", class:"d-block", height:300%>
            <p class="fw-lighter" style="padding:20px; text-align:justify">Dr. Katarzyna Nowakowska jest doświadczoną pediatrą, specjalizującą się w opiece nad najmłodszymi pacjentami. Jej empatia, cierpliwość i zrozumienie dla potrzeb dzieci sprawiają, że wizyta u niej jest komfortowa zarówno dla małych pacjentów, jak i ich rodziców. Dr. Nowakowska dba nie tylko o leczenie, ale także o wszechstronny rozwój i zdrowie dzieci. </p>
            </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wyjdź</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><span class="badge rounded-pill text-bg-warning">Poradnia Dziecięca</span></small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <%= image_tag "doctor4.jpg", class:"d-block", height:450%>
      <div class="card-body">
        <h5 class="card-title">Dr. Marcin Wojciechowski</h5>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal5">
        Kliknij tutaj, aby dowiedzieć się więcej
        </button>
        <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Dr. Marcin Wojciechowski</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <center><%= image_tag "doctor4.jpg", class:"d-block", height:300%>
            <p class="fw-lighter" style="padding:20px; text-align:justify">Dr. Marcin Wojciechowski to specjalista rehabilitacji, który pomaga pacjentom powrócić do pełnej sprawności fizycznej po urazach, operacjach czy chorobach przewlekłych. Jego holistyczne podejście do terapii, skuteczność i zaangażowanie sprawiają, że każdy pacjent otrzymuje indywidualnie dostosowane plany leczenia, mające na celu poprawę jakości życia.</p>
            </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wyjdź</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><span class="badge rounded-pill text-bg-success">Poradnia Rehabilitacyjna</span></small>
      </div>
    </div>
  </div>

  <div class="col">
  <div class="card h-100">
    <%= image_tag "doctor8.jpg", class:"d-block", height:450%>
    <div class="card-body">
      <h5 class="card-title">Dr. Joanna Kowalska</h5>
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal6">
      Kliknij tutaj, aby dowiedzieć się więcej
      </button>
      <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Dr. Joanna Kowalska</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <center><%= image_tag "doctor8.jpg", class:"d-block", height:300%>
          <p class="fw-lighter" style="padding:20px; text-align:justify"> Dr. Joanna Kowalska to lekarz medycyny pracy, który troszczy się o zdrowie pracowników i bezpieczeństwo w miejscu pracy. Jej profesjonalizm, skrupulatność i dbałość o detale sprawiają, że każda wizyta w poradni medycyny pracy to kompleksowa ocena stanu zdrowia, zgodnie z wymaganiami zawodowymi.</p>
          </center>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wyjdź</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary"><span class="badge rounded-pill text-bg-danger">Poradnia Medycyny Pracy</span></small>
    </div>
  </div>
</div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4" style="width:95%; margin:40px;">

  <div class="col">
    <div class="card h-100">
    <%= image_tag "doctor6.jpg", class:"d-block", height:450%>
      <div class="card-body">
        <h5 class="card-title">Dr. Magdalena Szymańska</h5>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal7">
        Kliknij tutaj, aby dowiedzieć się więcej
        </button>
        <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Dr. Magdalena Szymańska</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <center><%= image_tag "doctor6.jpg", class:"d-block", height:300%>
            <p class="fw-lighter" style="padding:20px; text-align:justify">Dr. Magdalena Szymańska to doświadczona ginekolog, która poświęca się zdrowiu i dobrostanowi swoich pacjentek. Jej empatyczne podejście, delikatność oraz zaangażowanie w opiekę ginekologiczną sprawiają, że każda kobieta czuje się komfortowo i zrozumiale podczas wizyty. Dr. Szymańska oferuje kompleksową opiekę od badań profilaktycznych po leczenie schorzeń ginekologicznych. </p>
            </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wyjdź</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><span class="badge rounded-pill text-bg-info">Poradnia Ginekologiczna</span></small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <%= image_tag "doctor7.jpg", class:"d-block", height:450%>
      <div class="card-body">
        <h5 class="card-title">Dr. Zbigniew Adamczyk</h5>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal8">
        Kliknij tutaj, aby dowiedzieć się więcej
        </button>
        <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Dr. Zbigniew Adamczyk</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <center><%= image_tag "doctor7.jpg", class:"d-block", height:300%>
            <p class="fw-lighter" style="padding:20px; text-align:justify">Dr. Zbigniew Adamczyk to specjalista laryngologii, który pomaga pacjentom w diagnozowaniu i leczeniu schorzeń związanych z układem oddechowym i głosem. Jego wiedza, doświadczenie i nowoczesne podejście do terapii zapewniają skuteczną pomoc w przypadku chorób gardła, nosa, uszu i krtani.</p>
            </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wyjdź</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><span class="badge rounded-pill" style="background-color:#fd7e14">Poradnia Laryngologiczna</span></small>
      </div>
    </div>
  </div>

  <div class="col">
  <div class="card h-100">
    <%= image_tag "doctor9.jpg", class:"d-block", height:450%>
    <div class="card-body">
      <h5 class="card-title">Dr. Tomasz Kaczmarek</h5>
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal9">
      Kliknij tutaj, aby dowiedzieć się więcej
      </button>
      <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Dr. Tomasz Kaczmarek</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <center><%= image_tag "doctor9.jpg", class:"d-block", height:300%>
          <p class="fw-lighter" style="padding:20px; text-align:justify"> Dr. Tomasz Kaczmarek to doświadczony stomatolog, którego głównym celem jest zapewnienie pacjentom zdrowego i pięknego uśmiechu. Jego zaangażowanie w doskonalenie technik leczenia, indywidualne podejście do każdego przypadku oraz troska o komfort pacjenta sprawiają, że wizyta w poradni stomatologicznej przebiega sprawnie i efektywnie.</p>
          </center>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wyjdź</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary"><span class="badge rounded-pill" style="background-color:purple">Poradnia Stomatologiczna</span></small>
    </div>
  </div>
</div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4" style="width:95%; margin:40px;">

  <div class="col" style="margin-left:468px">
    <div class="card h-100">
    <%= image_tag "doctor10.jpg", class:"d-block", height:450%>
      <div class="card-body">
        <h5 class="card-title">Dr. Paweł Nowicki</h5>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal10">
        Kliknij tutaj, aby dowiedzieć się więcej
        </button>
        <div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Dr. Paweł Nowicki</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <center><%= image_tag "doctor10.jpg", class:"d-block", height:300%>
            <p class="fw-lighter" style="padding:20px; text-align:justify">Dr. Paweł Nowicki to renomowany kardiolog, który poświęca się zdrowiu serca swoich pacjentów. Jego zaangażowanie, precyzja w diagnozowaniu oraz skuteczne metody leczenia chorób serca sprawiają, że pacjenci mogą liczyć na kompleksową opiekę i wsparcie w utrzymaniu zdrowia serca i układu krążenia. </p>
            </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wyjdź</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><span class="badge rounded-pill" style="background-color:#d63384">Poradnia Kardiologiczna</span></small>
      </div>
    </div>
  </div>
  </div>


</div>
</div>




<footer class="footer">
<p><b>Copyright © 2024 </b>DoctorSeeker. Wszelkie prawa zastrzeżone.</p>
</footer>