<style>
  #cont {
    display: flex;
  }
 .left{
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 980px;
}
.right {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  #calendar {
    width: 100%;
  }

  .simple-calendar {
    flex-wrap: wrap;
  }

  .simple-calendar .day {
    width: 14%; /* Szerokość 1/7 dla każdego dnia w tygodniu */
    height: 100px; /* Stała wysokość dla każdego dnia */
    position: relative;
    font-size: 14px;
  }

  .simple-calendar .wday-0, /* Sunday */
  .simple-calendar .wday-1, /* Monday */
  .simple-calendar .wday-2, /* Tuesday */
  .simple-calendar .wday-3, /* Wednesday */
  .simple-calendar .wday-4, /* Thursday */
  .simple-calendar .wday-5, /* Friday */
  .simple-calendar .wday-6 { /* Saturday */
    width: 14%;
  }

  .simple-calendar .today {
    background-color: #66d3fa;
    color: white;
  }

  .simple-calendar .past {
    background-color: #f8f9fa;
  }

  .simple-calendar .future {
    background-color: #ffffff;
  }

  .simple-calendar .start-date {
    font-weight: bold;
  }

  .simple-calendar .prev-month, 
  .simple-calendar .next-month {
    color: #ccc;
  }

  .simple-calendar .current-month {
    color: #000;
  }

  .simple-calendar .has-events {
    background-color: #e0f7fa;
  }

  .simple-calendar .day div {
    text-align: center;
  }

  .card {
    margin: 5px 0;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 5%;
    box-sizing: border-box;
  }

  .card-header {
    background-color: #66d3fa;
    color: white;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }

  .card-body {
    padding: 5px;
  }

  .form-control {
    width: 200px; /* Ustaw szerokość inputów na 200px */
  }
  .right {
    border: 2px solid black;
    border-radius: 30px;
    margin-right: 15px;
    padding-left: 30px;
    background: linear-gradient(to right, #87cefa, #dda0dd);
    height: 980px;
}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('.complete-appointment').click(function(e) {
      e.preventDefault(); // Zapobiegamy domyślnej akcji przycisku (przekierowaniu)

      var appointmentId = $(this).data('appointment-id');

      // Wysyłamy żądanie AJAX
      $.ajax({
        url: '/mark_as_completed_user_appointment/' + appointmentId, // Ścieżka do Twojej akcji kontrolera
        type: 'PATCH', // Metoda HTTP, zakładam że używasz PATCH do aktualizacji
        success: function(response) {
          // Jeśli aktualizacja powiodła się, możesz zaktualizować widok
          $(e.target).closest('.card-body').find('.complete-appointment').remove(); // Usuwamy przycisk
          $(e.target).closest('.card-body').append('<span>Wizyta zakończona</span>'); // Dodajemy informację
        },
        error: function(xhr, status, error) {
          console.error('Wystąpił błąd podczas aktualizacji wizyty:', error);
          alert('Wystąpił błąd podczas aktualizacji wizyty. Spróbuj ponownie.');
        }
      });
    });
  });
</script>

<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;" id="bookmarksContainer">
<div class="container-fluid">
  <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
    </li>
      <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark1" aria-current="page" href="<%= doctor_path(@doctor) %>">Strona główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark2" href="<%= issue_prescription_path %>">Wydaj receptę</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark3" href="<%= lab_results_path %>">Wyniki badań</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark4" href="<%= set_appointment_path %>">Dostępne terminy wizyt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark5" href="<%= doctor_profile_path(@doctor_profile) %>">Mój profil</a>
      </li>
      <li class="nav-item">
      <a class="nav-link active bookmark" id="bookmark6" href="<%= doctor_logout_path(@doctor_logout) %>">Wyloguj</a>
    </li>
    </ul>
    <form class="d-flex" role="search">
    <input class="form-control me-2" id="searchInput" type="search" placeholder="Wyszukaj na stronie..." >
    <button class="btn btn-primary" id="searchButton" type="button">Szukaj</button>
    </form>
  </div>
</div>
</nav>


<center><h1><span class="badge text-bg-primary" style="margin-top: 110px; margin-bottom:0">Witaj w Panelu Lekarza</span></h1>
  <hr style="width:80%; margin-bottom:0" />
</center>

<div id="cont" style="margin-top: 0px;">

  <div class="left">
    <h2 class="fw-lighter"><strong><center>Witaj w DoctorSeeker<span class="badge rounded-pill text-bg-warning" style="margin:10px"> <%= current_user.first_name %></span>👨‍⚕️</strong></center></h2>
    <h5 class="fw-lighter" style="text-align:justify; margin-bottom:30px">Dziękujemy za Twoją pracę! Twoje zaangażowanie i profesjonalizm są nieocenione. Dziękujemy, że jesteś częścią zespołu DoctorSeeker. Życzymy udanego dnia!</h5>
    <h5 class="fw-lighter" style="text-align:justify; margin-bottom:30px; margin-top:30px">Jeśli potrzebujesz wsparcia, skontaktuj się z nami poprzez zakładkę <strong>Kontakt</strong>.</h5>
    
 
  </div>

  <div class="right">
     <strong><center><h2 class="fw-lighter badge rounded-pill text-bg-primary" style="font-size:25px;">Kalendarz terminów 📅</h2></center></strong>
    <b><h5 class="fw-lighter" style="text-align:justify;  padding-left:10px; margin-top:20px">W tym miejscu będą wszystkie wizyty, na które umówili się do Ciebie Twoi pacjencji:</h5>
  </b>
  <div id="calendar">
    <div class="container mt-5 text-center">
      <%= month_calendar(events: @appointments) do |date, appointments| %>
        <div class="day">
          <%= date.day %>
        </div>
        <% appointments.each do |appointment| %>
          <% appointment.user_appointments.each do |user_appointment| %>
            
            <div class="card" style="display: block; text-decoration: none; color: inherit;">
              <div class="card-header">
                <strong><%= link_to "#{appointment.start_time.strftime("%k:%M")} - #{appointment.end_time.strftime("%k:%M")}", appointment_path(appointment), class: "link" %></strong> </br>
              </div>
              <div class="card-body">
                <% patient = User.find(user_appointment.patient_user_id) %>
                <%= patient.first_name %> <%= patient.last_name %>
                <% if user_appointment.visit_completed? %>
                  <span>Wizyta zakończona</span>
                <% else %>
                  <button class="btn btn-outline-danger btn-sm complete-appointment" data-appointment-id="<%= user_appointment.id %>">Oznacz jako zakończoną</button>


                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>

<footer class="footer">
  <p><b>Copyright © 2024 </b>DoctorSeeker. Wszelkie prawa zastrzeżone.</p>
</footer>

<script>
function redirectToMatchingBookmark(event) {
  event.preventDefault();
  var searchText = document.getElementById('searchInput').value.toLowerCase();
  var bookmarks = document.querySelectorAll('.bookmark');
  var found = false;

  for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
      // Przekieruj do pasującej zakładki
      window.location.href = bookmark.href;
      found = true;
      break;
    }
  }

  if (!found) {
    alert("Nie znaleziono pasującej zakładki 😢");
  }
}

document.getElementById('searchButton').addEventListener('click', function (event) {
  redirectToMatchingBookmark(event);
});

function updateDateTime() {
  var currentDate = new Date();
  var day = currentDate.toLocaleDateString();
  var time = currentDate.toLocaleTimeString();
  var dateTimeString = day + ' ' + time;
  document.getElementById('currentDateTime').innerHTML = dateTimeString;
}

setInterval(updateDateTime, 1000);
window.onload = updateDateTime;
</script>