<nav class="navbar navbar-expand-lg" style="background-color: #66d3fa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= doctor_path(@doctor) %>">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= doctor_login_path(@login) %>">Logowanie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= issue_prescription_path %>">Wydaj receptę</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= set_appointment_path %>">Dostępne terminy wizyt</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            O przychodni 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= doctor_doctors_path(@doctor_doctors) %>">Lekarze</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= doctor_price_path(@doctor_price) %>">Cennik</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= doctor_lab_path(@doctor_lab) %>">Spis wykonywanych badań</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= doctor_help_path(@doctor_help) %>">Pomoc</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= doctor_contact_path(@doctor_contact) %>">Kontakt</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= doctor_profile_path(@doctor_profile) %>">Mój profil</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>

<div id="cont">
<div class="left">
  <p><h2 class="fw-lighter"><strong><center><% if current_user %>
    <p>Witaj <%= current_user.first_name %></p>
    <p>Jesteś zalogowany jako [<%= current_user.role %>]</p> <%end%>
  <%= form_tag(destroy_user_session_path, method: :delete) do %>
    <%= submit_tag "Wyloguj", class: "btn btn-danger" %>
  <% end %></strong></center></h2></p>

  <% if current_user.email == 'aleksandra.nowak@example.com' %>
    <center><%= image_tag "doctor1.png", height: 450 %></center>
  <% elsif current_user.email == 'tomasz.kowalczyk@example.com' %>
    <center><%= image_tag "doctor2.png", height: 450 %> </center>
  <% elsif current_user.email == 'marta.lewandowska@example.com' %>
    <center><%= image_tag "doctor3.png", height: 450 %> </center>
  <% end %>

</div>



<div class="right">

<h3><center>Kalendarz terminów</center></h3>
  <div id="calendar"></div>

  <table class="table">
    <thead>
      <tr>
        <th><center>Data</center></th>
        <th><center>Pacjent</center></th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><center><%= appointment.appointment_date %></center></td>
          <td><center>
            <% if appointment.user_appointments.any? %>
              <%= appointment.user_appointments.first.patient.first_name %> <%= appointment.user_appointments.first.patient.last_name %>
            <% else %>
              Wolny termin
            <% end %></center>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>


<footer class="footer">
<p><b>Copyright © 2024 </b>DoctorSeeker. Wszelkie prawa zastrzeżone.</p>
</footer>