<nav class="navbar navbar-expand-lg" style="background-color: #66d3fa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= doctor_path(@doctor) %>">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= doctor_login_path(@login) %>">Logowanie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= issue_prescription_path %>">Wydaj receptę</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= set_appointment_path %>">Dostępne terminy wizyt</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            O przychodni 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= doctor_doctors_path(@doctor_doctors) %>">Lekarze</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= doctor_price_path(@doctor_price) %>">Cennik</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= doctor_lab_path(@doctor_lab) %>">Spis wykonywanych badań</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= doctor_help_path(@doctor_help) %>">Pomoc</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= doctor_contact_path(@doctor_contact) %>">Kontakt</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= doctor_profile_path(@doctor_profile) %>">Mój profil</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>


<div id="cont_prescription">
<div class="left_prescription">

<center><h1>Odbyte wizyty </h1></center>
<div class="cont_prescription">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nr ID Pacjenta</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Pesel</th>
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
    <% if @patients.present? %>
      <% @patients.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.pesel_number %></td>
          <td>
            <%= form_with(model: @medical_file, url: medical_files_path) do |form| %>
              <%= form.file_field :file, class: "form-control-file btn btn-secondary" %>
              <%= form.hidden_field :category, value: 'prescription' %>
              <%= form.hidden_field :user_id, value: user.id %>
              <%= form.hidden_field :utility_date, value: Time.now.strftime('%Y-%m-%d %H:%M:%S') %>
              <div class="btn-group mt-2" role="group" aria-label="Akcje">
                <%= form.submit "Dodaj receptę", class: "btn btn-primary"%>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6">Brak danych do wyświetlenia</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>




</div>
<div class="right_prescription">
  <center><h1>Wystawione recepty </h1></center>
<div class="cont_prescription">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nr ID Pacjenta</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Pesel</th>
      <th>Adres email</th>
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
    <% if @patients_with_prescription.present? %>
      <% @patients_with_prescription.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.pesel_number %></td>
          <td><%= user.email %></td>
          <td>
            <%= form_with(model: @medical_file, url: medical_files_path) do |form| %>
              <%= form.hidden_field :category, value: 'prescription' %>
              <%= form.hidden_field :user_id, value: user.id %>
              <%= form.hidden_field :utility_date, value: Time.now.strftime('%Y-%m-%d %H:%M:%S') %>
              <%= form.submit "Dodaj receptę", class: "btn btn-primary"%>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6">Brak danych do wyświetlenia</td>
      </tr>
    <% end %>
  </tbody>
</table>



</div>
</div>


<footer class="footer">
<p><b>Copyright © 2024 </b>DoctorSeeker. Wszelkie prawa zastrzeżone.</p>
</footer>