<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;" id="bookmarksContainer">
<div class="container-fluid">
  <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
    </li>
      <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark1" aria-current="page" href="<%= doctor_path(@doctor) %>">Strona g贸wna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark2" href="<%= issue_prescription_path %>">Wydaj recept</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark3" href="<%= lab_results_path %>">Wyniki bada</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark4" href="<%= set_appointment_path %>">Dostpne terminy wizyt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark5" href="<%= doctor_profile_path(@doctor_profile) %>">M贸j profil</a>
      </li>
      <li class="nav-item">
      <a class="nav-link active bookmark" id="bookmark6" href="<%= doctor_logout_path(@doctor_logout) %>">Wyloguj</a>
    </li>
    </ul>
    <form class="d-flex" role="search">
    <input class="form-control me-2" id="searchInput" type="search" placeholder="Wyszukaj na stronie..." >
    <button class="btn btn-primary" id="searchButton" type="button">Szukaj</button>
    </form>
  </div>
</div>
</nav>

<div id="cont" style="margin-top: 80px;">

<center><h1><span class="badge text-bg-primary" style="margin-top: 30px; margin-bottom:0">Wydaj recept</span></h1></center>
<div style="width:40%; height:50px; float: left; padding:30px; margin-top:10px; margin-left:70px; margin-bottom:200px">
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
W tym miejscu masz mo偶liow wystwi recept po spotakaniu z pacjentem. Po prawej stronie jest zakadka do wystawienia recept dla os贸b, kt贸re jej jeszcze nie otrzymay, po lewej stronie jest spis recept, kt贸re ju偶 wystawie.
</h5>
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Jeli potrzebujesz zmieni plik lub masz pytania dotyczce wystawiania recept, zachcamy do kontaktu z naszym dziaem administracji.
</h5>
</div>

<div style="width:40%; height:50px; float: right; padding:30px; margin-top:10px; margin-right:70px; margin-bottom:200px">
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Pamitaj, aby podczas wystawiania recepty wypisa PESEL odpowidniego pacjenta, kod recepty wygeneruje si automatycznie. 
</h5>
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:10px">
Dzikujemy, 偶e jeste czci naszej przychodni.
</h5>
<h5 class="fw-lighter" style="text-align:center; margin-bottom:10px"><i>
<span style="color: #000080;">Zesp贸 Przychodni Lekarskiej <b>DoctorSeeker</b></span></i>
</h5>
</div>

<center><hr style="width:80%; margin-top:20px; padding:0px" /></center>

 <style>
      .custom-file-input {
        position: relative;
        display: inline-block;
      }

      .custom-file-input input[type="file"] {
        display: none;
      }

      .custom-file-input .custom-file-label {
        cursor: pointer;
      }

      .file-name {
        display: none;
        margin-top: 10px;
      }
    </style>



<div class="left_prescription" >
  

<center><h2 class="mb-4" style="margin-top:20px">Odbyte wizyty 猬锔</h2></center>

<table class="table table-hover" style="margin-top:0px; width:600px; margin-left:40px"> 
      <thead>
        <tr>
          <th scope="col" style="background-color:#c6c6c6">ID</th>
          <th scope="col" style="background-color:#c6c6c6">Imi</th>
          <th scope="col" style="background-color:#c6c6c6">Nazwisko</th>
          <th scope="col" style="background-color:#c6c6c6">Pesel</th>
          <th scope="col" style="background-color:#c6c6c6">Email</th>
          <th scope="col" style="background-color:#c6c6c6">Rola</th>
          <th scope="col" style="background-color:#c6c6c6">Recepta</th>
        </tr>
      </thead>
      <tbody>
        <% if @patients.present? %>
          <% @patients.each do |patient| %>
            <tr>
              <td class="id"><%= patient.id %></td>
              <td><%= patient.first_name %></td>
              <td><%= patient.last_name %></td>
              <td><%= patient.pesel_number %></td>
              <td><%= patient.email %></td>
              <td><%= patient.role %></td>
              <td>
                <%= form_with(model: @medical_file, url: medical_files_path, local: true, multipart: true) do |form| %>
                  <div class="custom-file-input">
                    <label class="btn btn-outline-primary custom-file-label" for="file-input-<%= patient.id %>">Wybierz plik</label>
                    <%= form.file_field :file, id: "file-input-#{patient.id}", class: 'file-input', data: { id: patient.id } %>
                    <div class="file-name" id="file-name-<%= patient.id %>"></div>
                  </div>
                  <%= form.hidden_field :category, value: 'prescription' %>
                  <%= form.hidden_field :user_id, value: patient.id %>
                  <%= form.hidden_field :utility_date, value: Time.now.strftime('%Y-%m-%d %H:%M:%S') %>
                  <div class="btn-group mt-2" role="group" aria-label="Akcje">
                    <%= form.submit "Dodaj recept", class: "btn btn-outline-success" %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="7"><center>Brak danych do wywietlenia</center></td>
          </tr>
        <% end %>
      </tbody>
    </table>







</div>



<div class="right_prescription">
  <center><h2 class="mb-4" style="margin-top:20px">Wystawione recepty 猬锔</h2></center>

<table class="table table-hover" style="margin-top:0px; width:600px;  margin-right:40px">
  <thead>
    <tr>
      <th scope="col" style="background-color:#c6c6c6">ID</th>
          <th scope="col" style="background-color:#c6c6c6">Imi</th>
          <th scope="col" style="background-color:#c6c6c6">Nazwisko</th>
          <th scope="col" style="background-color:#c6c6c6">Pesel</th>
      <!-- <th>Adres email</th> -->
      <!-- <th><center>Akcje</center></th> -->
    </tr>
  </thead>
  <tbody>
    <% if @patients_with_prescription.present? %>
      <% @patients_with_prescription.each do |user| %>
        <tr>
          <td><center><%= user.id %></center></td>
          <td><center><%= user.first_name %></center></td>
          <td><center><%= user.last_name %></center></td>
          <td><center><%= user.pesel_number %></center></td>
          <!-- <td><%= user.email %></td> -->
          <!-- <td><center>
            <%= form_with(model: @medical_file, url: medical_files_path) do |form| %>
              <%= form.hidden_field :category, value: 'prescription' %>
              <%= form.hidden_field :user_id, value: user.id %>
              <%= form.hidden_field :utility_date, value: Time.now.strftime('%Y-%m-%d %H:%M:%S') %>
              <%= form.submit "Dodaj recept", class: "btn btn-primary"%>
            <% end %></center>
          </td> -->
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6">Brak danych do wywietlenia</td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>



</div>


<footer class="footer">
<p><b>Copyright 漏 2024 </b>DoctorSeeker. Wszelkie prawa zastrze偶one.</p>
</footer>

<script>
function redirectToMatchingBookmark(event) {
  event.preventDefault();
  var searchText = document.getElementById('searchInput').value.toLowerCase();
  var bookmarks = document.querySelectorAll('.bookmark');
  var found = false;

  for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
      // Przekieruj do pasujcej zakadki
      window.location.href = bookmark.href;
      found = true;
      break;
    }
  }

  if (!found) {
    alert("Nie znaleziono pasujcej zakadki ");
  }
}

document.getElementById('searchButton').addEventListener('click', function (event) {
  redirectToMatchingBookmark(event);
});

function updateDateTime() {
  var currentDate = new Date();
  var day = currentDate.toLocaleDateString();
  var time = currentDate.toLocaleTimeString();
  var dateTimeString = day + ' ' + time;
  document.getElementById('currentDateTime').innerHTML = dateTimeString;
}

setInterval(updateDateTime, 1000);
window.onload = updateDateTime;


document.querySelectorAll('.file-input').forEach(function(input) {
  input.addEventListener('change', function() {
    var fileName = input.files[0].name;
    var fileLabel = document.getElementById('file-name-' + input.dataset.id);
    fileLabel.textContent = fileName;
    fileLabel.style.display = 'block';
  });
});
</script>

