<p style="color: green"><%= notice %></p>

<%= render @medical_file %>

<div>
  <%= link_to "Back to medical files", medical_files_path %>

  <% if @medical_file.user_id == current_user.id %>
    <%= link_to "Edit this medical file", edit_medical_file_path(@medical_file) %> |
    <%= button_to "Destroy this medical file", @medical_file, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
