
<nav class="navbar navbar-expand-lg" style="background-color: #66d3fa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        
        
        <li class="nav-item dropdown">
        <li class="nav-item">
        <a class="nav-link active" aria-disabled="true" href="<%= labworker_path(@labworker) %>">Strona główna</a>
        </li>
        </li>
        <li class="nav-item dropdown">
        <li class="nav-item">
        <a class="nav-link active" aria-disabled="true" href="<%= profile_path(@profile) %>">Mój profil</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-disabled="true" href="<%= patients_path(@patients) %>">Pacjenci</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Badania
          </a>
          <ul class="dropdown-menu">
            <li><a class="nav-link active" href="<%= exeresearch_path(@exeresearch) %>">Dodaj Badania</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= logout_labworker_path(@logout_labworker) %>">Wyloguj</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>

<div id="cont">
<div style="width:50%; height:100px; float: left; padding:20px; margin-top:20px; margin-left:40px; margin-bottom:600px">
<table class="table" style="margin-top:0px; width:700px">
  <thead>
    <tr>
    <th scope="col" style="background-color:#c6c6c6">ID</th>
    <th scope="col" style="background-color:#c6c6c6">Imie</th>
    <th scope="col" style="background-color:#c6c6c6">Nazwisko</th>
    <th scope="col" style="background-color:#c6c6c6">Pesel</th>
    <th scope="col" style="background-color:#c6c6c6">Email</th>
    <th scope="col" style="background-color:#c6c6c6">Rola</th>
    <th scope="col" style="background-color:#c6c6c6">Wyniki badań </th>
    </tr>
  </thead>
  <tbody>
  <% if @patients.present? %>
  <% @patients.each do |patient| %>
    <tr>
      <td class="id"><%= patient.id %></td>
      <td><%= patient.first_name %></td>
      <td><%= patient.last_name %></td>
      <td><%= patient.pesel_number %></td>
      <td><%= patient.email %></td>
      <td><%= patient.role %></td>
      <td>
        <%= form_with(model: @medical_file, url: labworker_path, local: true, multipart: true) do |form| %>
          <div class="custom-file">
    <%= form.file_field :file, id: "file_input", style: "display: none;" %>
    <button type="button" class="btn btn-secondary" onclick="document.getElementById('file_input').click();">Wybierz plik</button>
    <br>
    <span id="file-chosen"></span>
  </div>
          <%= form.hidden_field :category, value: 'lab_results' %>
          <%= form.hidden_field :user_id, value: patient.id %>
          <%= form.hidden_field :utility_date, value: Time.now.strftime('%Y-%m-%d %H:%M:%S') %>
          <div class="btn-group mt-2" role="group" aria-label="Akcje">
            <%= form.submit "Dodaj wynik badań", class: "btn btn-outline-success" %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>


</div>
<div style="width:45%; height:100px; float:right; padding:30px; margin-top:10px; margin-left:0px">
<center><h1><span class="badge text-bg-primary" style="margin-bottom:10px">Sekcja Dodaj Badania</span></h1>
<h5 class="fw-lighter" style="text-align:justify; margin-bottom:30px">
Tutaj możesz wprowadzać nowe zlecenia laboratoryjne dla naszych pacjentów. 
Upewnij się, że wszystkie dane wprowadzone są poprawne i kompleksowe, aby zapewnić dokładność i skuteczność badań. 
Pamiętaj o terminowości i profesjonalizmie w wykonywaniu swoich obowiązków, dbając o bezpieczeństwo i poufność danych pacjentów. 
<p><b>Dziękujemy za Twoje zaangażowanie w zapewnienie wysokiej jakości usług medycznych.</b></p>
</h5>
<%= image_tag "exeresearch.jpg", class:"rounded mx-auto d-block", height: 280 %>



</div>
</div>
</div>


<footer class="footer">
<p><b>Copyright © 2024 </b>DoctorSeeker. Wszelkie prawa zastrzeżone.</p>
</footer>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const fileInput = document.getElementById('file_input');
  const fileChosen = document.getElementById('file-chosen');

  fileInput.addEventListener('change', function() {
    if (fileInput.files.length > 0) {
      fileChosen.textContent = fileInput.files[0].name;
    } else {
      fileChosen.textContent = 'Nie wybrano pliku';
    }
  });
});
</script>