
<nav class="navbar navbar-expand-lg" style="background-color: #66d3fa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        
        
        <li class="nav-item dropdown">
        <li class="nav-item">
        <a class="nav-link active" aria-disabled="true" href="<%= labworker_path(@labworker) %>">Strona główna</a>
        </li>
        </li>
        <li class="nav-item dropdown">
        <li class="nav-item">
        <a class="nav-link active" aria-disabled="true" href="<%= profile_path(@profile) %>">Mój profil</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-disabled="true" href="<%= patients_path(@patients) %>">Pacjenci</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Badania
          </a>
          <ul class="dropdown-menu">
            <li><a class="nav-link active" href="<%= comresearch_path(@comresearch) %>">Zlecone Badania</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" href="<%= exeresearch_path(@exeresearch) %>">Dodaj Badania</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= logout_labworker_path(@logout_labworker) %>">Wyloguj</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>

<div id="cont">

<div style="width:40%; height:100px; float: left; padding:30px; margin-top:10px; margin-left:70px">
<center><h1><span class="badge text-bg-primary" style="margin-bottom:10px">Sekcja Pacjenci</span></h1>

<h5 class="fw-lighter" style="text-align:justify; margin-bottom:30px">
Jako pracownik laboratorium, masz dostęp do szczegółowych informacji dotyczących naszych pacjentów. 
Tutaj możesz przeglądać historię badań, wyniki testów oraz inne istotne dane medyczne. 
Zadbaj o poufność tych informacji i pamiętaj o przestrzeganiu wszystkich procedur bezpieczeństwa danych.
<b>Dziękujemy za Twoją troskę o naszych pacjentów. </b> </h5>

<%= image_tag "patients.jpg", class:"rounded mx-auto d-block", height: 300 %>


</div>
<div style="width:55%; height:100px; float:right; padding-left:80px; margin-top:50px;">

<table class="table" style="margin-top:0px; width:700px">
  <thead>
    <tr>
      <th scope="col" style="background-color:#c6c6c6">ID</th>
      <th scope="col" style="background-color:#c6c6c6">Imię</th>
      <th scope="col" style="background-color:#c6c6c6">Nazwisko</th>
      <th scope="col" style="background-color:#c6c6c6">Pesel</th>
      <th scope="col" style="background-color:#c6c6c6">Email</th>
      <th scope="col" style="background-color:#c6c6c6">Rola</th>
      <th scope="col" style="background-color:#c6c6c6">Wyniki badań </th>
    </tr>
  </thead>
  <tbody>
    <% User.all.each do |user| %>
      <% if user.role == "patient" %>
      <tr>
      <td class="id"><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.pesel_number %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
        <% medical_file = MedicalFile.find_by(user_id: user.id) %>
        <% if medical_file %>
        <span class="badge rounded-pill text-bg-success"><%= link_to "Wynik badań", medical_file.file %></span>
        <% else %>
        <span class="badge text-bg-danger">Brak pliku</span>
        <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


</div>
</div>
</div>


<footer class="footer">
<p><b>Copyright © 2024 </b>DoctorSeeker. Wszelkie prawa zastrzeżone.</p>
</footer>