
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #66d3fa;" id="bookmarksContainer">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "navbar.png", height: 70 %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><b>DoctorSeeker</b></a>
      </li>
        
        
        <li class="nav-item dropdown">
        <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark1" aria-disabled="true" href="<%= labworker_path(@labworker) %>">Strona g贸wna</a>
        </li>
        </li>
        <li class="nav-item dropdown">
        <li class="nav-item">
        <a class="nav-link active bookmark" id="bookmark2" aria-disabled="true" href="<%= profile_path(@profile) %>">M贸j profil</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark3" aria-disabled="true" href="<%= patients_path(@patients) %>">Pacjenci</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Badania
          </a>
          <ul class="dropdown-menu">
            <li><a class="nav-link active bookmark" id="bookmark4" href="<%= exeresearch_path(@exeresearch) %>">Dodaj Badania</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active bookmark" id="bookmark5" href="<%= logout_labworker_path(@logout_labworker) %>">Wyloguj</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
      <input class="form-control me-2" id="searchInput" type="search" placeholder="Wyszukaj na stronie..." >
      <button class="btn btn-primary" id="searchButton" type="button">Szukaj</button>
      </form>
    </div>
  </div>
</nav>


<div id="cont" style="margin-top:100px">

<div style="width:40%; height:100px; float: left; padding:30px; margin-top:10px; margin-left:70px">
<center><h1><span class="badge text-bg-primary" style="margin-bottom:10px">Sekcja Pacjenci</span></h1>

<h5 class="fw-lighter" style="text-align:justify; margin-bottom:30px">
Jako pracownik laboratorium, masz dostp do szczeg贸owych informacji dotyczcych naszych pacjent贸w. 
Tutaj mo偶esz przeglda histori bada, wyniki test贸w oraz inne istotne dane medyczne. 
Zadbaj o poufno tych informacji i pamitaj o przestrzeganiu wszystkich procedur bezpieczestwa danych.
<b>Dzikujemy za Twoj trosk o naszych pacjent贸w. </b> </h5>

<%= image_tag "patients.jpg", class:"rounded mx-auto d-block", height: 300 %>


</div>
<div style="width:55%; height:100px; float:right; padding-left:80px; margin-top:50px;">

<table class="table" style="margin-top:0px; width:700px">
  <thead>
    <tr>
      <th scope="col" style="background-color:#c6c6c6">ID</th>
      <th scope="col" style="background-color:#c6c6c6">Imi</th>
      <th scope="col" style="background-color:#c6c6c6">Nazwisko</th>
      <th scope="col" style="background-color:#c6c6c6">Pesel</th>
      <th scope="col" style="background-color:#c6c6c6">Email</th>
      <th scope="col" style="background-color:#c6c6c6">Rola</th>
      <th scope="col" style="background-color:#c6c6c6">Wyniki bada </th>
    </tr>
  </thead>
  <tbody>
  <% @patients.each do |patient| %>
    <tr>
      <td class="id"><%= patient.id %></td>
      <td><%= patient.first_name %></td>
      <td><%= patient.last_name %></td>
      <td><%= patient.pesel_number %></td>
      <td><%= patient.email %></td>
      <td><%= patient.role %></td>
      <td>
        <% medical_files = MedicalFile.where(user_id: patient.id, category: 'lab_results') %>
        <% if medical_files.present? %>
          <% medical_files.each do |medical_file| %>
            <span class="badge rounded-pill text-bg-success"><%= link_to "Wynik bada", medical_file.file, style: "color:white; text-decoration:none" %></span>
          <% end %>
        <% else %>
          <span class="badge rounded-pill text-bg-danger">Brak wyniku bada</span>
        <% end %>
      </td>
    </tr>
  <% end %>
 
  </tbody>
</table>


</div>
</div>
</div>


<footer class="footer">
<p><b>Copyright 漏 2024 </b>DoctorSeeker. Wszelkie prawa zastrze偶one.</p>
</footer>

<script>
function redirectToMatchingBookmark(event) {
  event.preventDefault();
  var searchText = document.getElementById('searchInput').value.toLowerCase();
  var bookmarks = document.querySelectorAll('.bookmark');
  var found = false;

  for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
      // Przekieruj do pasujcej zakadki
      window.location.href = bookmark.href;
      found = true;
      break;
    }
  }

  if (!found) {
    alert("Nie znaleziono pasujcej zakadki ");
  }
}

document.getElementById('searchButton').addEventListener('click', function (event) {
  redirectToMatchingBookmark(event);
});

function updateDateTime() {
  var currentDate = new Date();
  var day = currentDate.toLocaleDateString();
  var time = currentDate.toLocaleTimeString();
  var dateTimeString = day + ' ' + time;
  document.getElementById('currentDateTime').innerHTML = dateTimeString;
}

setInterval(updateDateTime, 1000);
window.onload = updateDateTime;
</script>